$gray: #F7F6F3;
$black: #2d2d2d;
$pink: #C90057;

.hl {
  background-color: #FFFFC7;
}

.arch-search-form {
  hr {
    box-sizing: border-box;
  }
}

.arch-search-results {
  ul.nav {
    min-height: 44px;
  }
}

a.arch-search-result {
  background-color: $gray;

  .arch-title {
    display: block;
  }

  .arch-text {
    color: $black !important;
  }

  .arch-highlights {
    margin-top: 1em;
  }
}

.arch-content-locale-selector {
  position: relative;
  top: 5px;

  label {
    svg {
      color: $pink;
      margin-right: 10px;
      position: relative;
      top: 1px;
    }

    svg.fa-check-square { display: none; }
    svg.fa-square { display: inline; }

    .checked {
      svg.fa-check-square { display: inline; }
      svg.fa-square { display: none; }
    }

    input {
      display: none;
      position: relative;
      top: 2px;
    }
  }
}

.clearfix {
  clear: both;
}
