/*@font-face {
    font-family:"EB Garamond08I";
    src: url("Garamond/EBGaramond08-Italic.ttf") 
}
@font-face {
    font-family:"EB Garamond08R";
    src: url("Garamond/EBGaramond08-Regular.ttf") 
}
@font-face {
    font-family:"EB Garamond12A";
    src: url("Garamond/EBGaramond12-AllSC.ttf")  
}
@font-face {
    font-family:"EB Garamond12I";
    src: url("Garamond/EBGaramond12-Italic.ttf") 
}
@font-face {
    font-family:"EB Garamond12R";
    src: url("Garamond/EBGaramond12-Regular.ttf") 
}
@font-face {
    font-family:"EB GaramondSC08";
    src: url("Garamond/EBGaramondSC08-Regular.ttf")  
}
@font-face {
    font-family:"EB GaramondSC12";
    src: url("Garamond/EBGaramondSC12-Regular.ttf")  
}*/
@font-face {
    font-family:"EB GaramondARCHITRAVE";
    src: url("Garamond/EBGaramond-Regular.ttf")  
}
@font-face {
    font-family:"ModernAntiqua";
    src: url("fonts/ModernAntiqua-Regular.ttf")  
}

.edition-rules {
    font-family: 'EB GaramondARCHITRAVE', serif;
    /*font-family: "Junicode",Georgia,"Times New Roman",serif;*/
    font-size: 1.2em;
}
.edition-rules p{
    /*line-height: 1.42857143*/
    margin-bottom:0px;
}
.edition-rules .maintitle {
    font-size: 28px;
}
.edition-rules svg{
    color: #c90057;
    margin-left: 3px;
    /*margin-right: 5px;*/
    vertical-align: 0;
    font-size: 90%;
}
.edition-rules a{
    color:#333333;
}
.edition-rules a:link {
    color:#333333;
}
.edition-rules a:active {
    color:#333333;
}
.edition-rules a:hover {
    color:#c90057;
}
.edition-rules a:visited {
    color:#333333;
}
.edition-rules a:focus {
    color:#333333;
}
.edition-rules .pb{
    display:none;    
}
/*.edition-rules .placeName svg {
    display:inline;
}*/
.edition-rules .lang-fr {
    display:none;
}
.edition-rules .lang-en {
    display:none;
}
.edition-rules .tei-fw {
    /*padding-bottom:20px;*/
    /*padding-top:25px;*/
    /* padding-top:3%; */
}
.edition-rules {
    /* min-height:800px; */
}
.edition-rules abbr {
    text-decoration: none;
}
.edition-rules .tei-add-bracket {
    color: #8d8e8e;
}
.edition-rules .tei-latin {
    font-family: "ModernAntiqua"; /*Use different font here! TBD */ 
    font-size:85%;
}
.edition-rules .tei-fraction-horizontal {
    position:relative;
    top: -1px;
}
.edition-rules .double-hyphen {
    font-weight: 800;
    /*font-family: "Symbola";*/
}
/*.edition-rules .hi .underline {
    text-decoration: underline
}
.edition-rules .hi .superscript {
    top: -0.5em;
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline;
}
.edition-rules .hi .subscript {
    bottom: -0.25em;
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline;
}
.edition-rules .hi .italic {
    font-style: italic
}
.edition-rules .hi .latin {
    font-family: "ModernAntiqua";
    font-size:85%;
}
.edition-rules .hi .bold {
    font-weight: bold
}*/
/*
.edition-rules .institution {
    display:none;
}
.edition-rules h2{
    display: none;
}
.edition-rules .tei_body h2{
    display: block;
}
.edition-rules .stdfooter {
    display: none;
}
.edition-rules .pagebreak {
    display: block;
    text-align:center;
    margin-top:18pt;
}

.edition-rules .placeName:after{
    display:none;    
    font-family: "Font Awesome 5 Solid";
    content: "\f3c5";
}
.edition-rules .persName:after{
    display:none;    
    font-family: "Font Awesome 5 Solid";
    content: "\f007";
}
.edition-rules .geogName:after{
    display:none;    
    font-family: "Font Awesome 5 Solid";
    content: "\f1fc";
}*/


/* edition_surround stuff */
#accordion .accordion-chevron {
    float:right;
}
#accordion .edition-sidebar-btn {
    width:100%;
    margin-bottom:5px;
}
#accordion .checbox-switch span{
    margin-top:-3px;
}
#accordion .panel-body {
    padding-bottom:0px;
}
#legende svg{
    color: #c90057;
}
.cc-svg {
    width: 2em;    
}
#accordion abbr {
    text-decoration: none;
}
#accordion .vertical-align {
    display: flex;
    align-items: center;
}
#accordion .accordion-clipboard {
    height:50px;
}

/* mirador stuff */
#mirador .mirador-container .content-container {
    margin-top:0px;
}
#mirador .manifest-info {
    display:none;
}
#mirador .mirador-osd-annotation-controls{
    display:none;
}
#mirador .mirador-osd-next{
    display:none;
}
#mirador .mirador-osd-previous {
    display:none;
}
#mirador .mirador-pan-zoom-controls {
    left: 10px;
    right: 0;
}
#mirador .mirador-container .hud-control {
    color: black;
}

/* goldenLayout stuff */
#goldenlayout {
    margin-right:12px;
    margin-left:12px;
    margin-top:10px;
    margin-bottom:0px;
}
#goldenlayout .lm_content {
    background-color: #FFFFFF;
    border-color: #EEE9DF;
    /*Korall: #EEE9DF */    
    /*Tan: #DBD6CD */
    /*Sand: #f7f6f3 */
    /*Anthrazit: #2d2d2d */
}
#goldenlayout .lm_tabs {
    background-color: #FFFFFF;
}
#goldenlayout .lm_tabs li {
    background-color: #FFFFFF !important;
    border-color: #EEE9DF !important;   
}
#goldenlayout .lm_title {
    color: #2d2d2d !important;
}
#goldenlayout .lm_header .lm_tab {
    /*margin-top:2px !important;*/
    margin-right:0px;
}
.lm-content {
    min-width:50px !important;
}
body {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}
.edition-rules {
    margin-left:12px;
    margin-right:12px;
    margin-top:10px;
    /*top: 50%;
    transform: translateY(-50%);
    position: relative;
    height: calc(100vh - 190px);*/
}
body .lm_content {
}
#goldenlayout .workspace-container {
    margin:0 !important;
}
#goldenlayout .lm_goldenlayout {
    background-image: none;
}
#goldenlayout .lm_header .lm_tab {
    padding-right:10px;
}
#goldenlayout .iv-image-wrap img {
    /*top:25px !important;*/
    /*top:0% !important;*/
}
#goldenlayout .lm_header {
    /* pointer-events: none; */
}
#goldenlayout .lm_title svg {
    padding-top:4px;
}
#goldenlayout #code-container .xml {
    background: transparent;
}
#goldenlayout #code-container pre{
    background-color:transparent;
    border:0px;
}
#goldenlayout #code-container pre {
    margin:0px;
}
#goldenlayout #code-container code {
    padding:0px;
}
#goldenlayout .lm_header svg {
    font-size: 2em;
}
#goldenlayout a:hover {
    color: #c90057;
}

.error {
    color: #ff0000;
    font-size: smaller;
    font-style: italic;
}

body footer {
    margin-top:12px;
}

.tei-w-join:hover {
    color: #c90057;  
}

w.hover {
    color: #c90057;
}

#edition-container, #translation-container {
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
}

#edition-container .edition-body, #translation-container .edition-body {
    flex-grow: 1;
}

#edition-container {
    display: inline-block;
}

body.hide-refs #edition-container .fa-external-link-square-alt,
body.hide-refs #translation-container .fa-external-link-square-alt {
    display: none;
}

#ulPageNumbers {
    width: 200px;
}

[rend=superscript] {
    vertical-align: super;
    font-size: 0.75em;
}

del gap::after {
    content: '[–]';
    display: inline-block; /* workaround to avoid parent strikethrough */
}

[rend*='strikethrough'] {
    text-decoration: line-through;
}

add[place=above] {
    vertical-align: super;
    font-size: 0.75em;
}

.pages.bottom {
    margin-top: 1.5em;
}

fw[type='drawNum'][resp='#Archivist'] {
    color: gray;
}

fw[type='catch'][place='botRight'] {
    display: block;
    text-align: right;
}

fw[place='none'] {
    display: none;
}

fw[place='botCenter']:not([type='drawNum']) {
    display: block;
    text-align: center;
}

#edition-container fw corr, #translation-container fw corr {
    display: none;
}

#edition-container choice > corr, #translation-container choice > corr {
    display: none;
}

num[rend='center'] {
    display: block;
    text-align: center;
    
    /* the element was inserted in the spirit of an inline element (followed by
     * a newline) but that is probably not quite correct because centering text
     * should not have any effect on inline elements */
    margin-bottom: -31.2px;
}

.table-container table {
    margin-bottom: 31.2px;
}

.table-container table td:nth-child(n + 1) {
    padding-left: 0.3em;
}

.table-container td .right {
    display: block;
    text-align: right;
}

space {
    display: inline-block;
}

space[extent='1word'], space[extent='1words'] {
    padding-left: 1.25em;
}

space[extent='2word'], space[extent='2words'] {
    padding-left: 2.5em;
}

space[extent='3words'], space[extent='3words'] {
    padding-left: 3.75em;
}

span.centeredText {
    display: block;
    text-align: center;
    /*margin-bottom: -31.2px;*/
}

/* doesn't work, ignores text nodes
span.centeredText + br {
    display: none;
}
*/

div.list {
    display: inline-block;
}

span.note-authorial,
span.note-scientific,
span.note-editorial,
span.note-translation {
    cursor: pointer;
}

span.note > note {
    display: none;
}

hi[rend*='center'] {
    display: block;
    text-align: center;
}

hi[rend*='right'] {
    display: block;
    text-align: right;
}

hi[rend*='underline'] {
    text-decoration: underline;
}

hi[rend*='latin'] {
    font-family: "ModernAntiqua";
    font-size:85%;
}

hi[rend*='pencil'] {
    color: gray;
}

hi[rend*=superscript] {
    top: -0.5em;
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline;
}

hi[rend*=subscript] {
    bottom: -0.25em;
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline;
}

hi[rend*=italic] {
    font-style: italic
}

hi[rend*=bold] {
    font-weight: bold
}

/*
hi[rend*=right] {
    display: block;
    text-align: right;
}
*/

note[type='authorial'] choice abbr {
    display: none;
}

note[type='archivist'] {
    color: gray;
}

note[type='secretary'] {
    color: gray;
}

note svg {
    color: #c90057;
}

.edition-info-item {
    display: flex;
    flex-direction: row;
}

.edition-info.item > * {
    display: block;
}

.edition-info-item svg {
    margin-top: 4px;
    margin-right: 5px;
}

.edition-info-item > span {
    max-width: 400px;
}

.arch-edition-register-occurences .edition-info-item.arch-edition-register-occurences-collapse {
    flex-direction: column;
}

body choice > abbr {
    display: none;
}

body choice > expan {
    display: inline;
}

body.show-abbreviations choice > abbr {
    display: inline;
}

body.show-abbreviations choice > expan {
    display: none;
}

/*
lb:after {
    content: ' ';
    display: block;
    white-space: pre;
}

lb[break='no']:after {
    content: '';
    display: inline;
}

lb[break='no'][type='doubleHyphen']:after {
    content: '=';
}
*/

unclear:after {
    content: '[?]';
}

rs {
    cursor: pointer;
}

rs:hover {
    color: #c90057;
}

add:hover {
    color: #c90057;
    cursor: pointer;
}

.addition-info-item .col {
    margin-left: 5px;
}

.addition-info-item .col > span {
    margin-left: 0;   
}

supplied::before {
    content: '⟨';
    margin: 0;
}

supplied::after {
    content: '⟩';
    margin: 0;
}

.hide-supplied supplied {
    display: none;
}

.modal-body svg.fa-gem,
.modal-body svg.fa-calendar-alt {
    width: 0.9em;
}

.modal-body note a {
    text-decoration: underline;
}

#code-container pre {
    white-space: pre-wrap;
}

placeName {
    cursor: pointer;
}

placeName:hover {
    color: #c90057;
}

rs {
    cursor: pointer;
}

rs:hover {
    color: #c90057;
}

geogName {
    cursor: pointer;
}

geogName:hover {
    color: #c90057;
}

persName {
    cursor: pointer;
}

persName:hover {
    color: #c90057;
}


/* display options */

body.hide-places svg.fa-map-marker-alt {
    display: none;
}

body.hide-persons svg.fa-user {
    display: none;
}

body.hide-works svg.fa-gem {
    display: none;
}

body.hide-dates svg.fa-calendar-alt {
    display: none;
}

body.hide-notes svg.fa-comment {
    display: none;
}

body.hide-notes svg.fa-comment-medical {
    display: none;
}

body.show-combined .w-white-space {
/*#edition-container.show-combined .w-white-space, #translation-container.show-combined .w-white-space {*/
    display: none;
}

body svg.fa-arrows-alt-h {
    display: none;
}

.edition-info-item svg.fa-arrows-alt-h {
    display: inline;
}

body.show-combined svg.fa-arrows-alt-h {
    display: inline;
}

choice abbr {
    display: none;
}

body.show-abbreviations choice abbr {
    display: inline;
}

body.show-abbreviations choice expan {
    display: none;
}

.arch-symbols .edition-info-item svg {
    width: 1.25em;
}

.arch-symbols .edition-info-item span {
    position: relative;
    top: 3px;
}

quote[rend*='center'] {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

tei-head[rend*='center'] {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

label[rend*='center'] {
    display: block;
    text-align: center;
}

caption[rend*='center'] {
    text-align: center;
}

list {
    display: block;
}

item {
    display: block;
}

.tooltip .tooltip-inner {
    box-shadow: 0 0 3px 3px white;
}

metamark {
    border-bottom: 1px solid black;
    display: inline-block;
    top: -0.5rem;
    position: relative;
    width: 20%;
}

/* try to avoid tooltip overlap */
#arch-tooltips > div.bs-tooltip-bottom:nth-child(1n + 2) {
    margin-top: 40px;
}

#arch-tooltips > div.bs-tooltip-top:nth-child(1n + 2) {
    margin-top: -20px;
}

/* special header rules, see #263 */
@media (min-width: 1024px) {
  body.synoptic header {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  body.synoptic .arch-top-nav {
      margin-bottom: 0;
  }
  
  body.synoptic .arch-logo {
      width: 105px;
  }
  
  body.synoptic .arch-logo img {
    height: 90px;
    width: auto;
  }
}

ab {
    display: block;
}

ab > ab {
    display: inline;
}