/* ARCHITRAVE specific stuff on top of style.css */

.arch-lang-icon {
  font-size: 1.4em !important;
  margin-top: -3px;
}

body.arch-nav-overlay header .dropdown {
  padding-right: 0;
}

body.arch-nav-overlay header .dropdown a.dropdown-toggle {
  display: block;
  box-shadow: none !important;
}

body.arch-nav-overlay header .dropdown a.dropdown-toggle .caret {
  display: block;
  margin-right: 8px;
}

body.arch-nav-overlay header .dropdown a.dropdown-toggle .caret svg.fa-sort-up {
  display: none;
  position: relative;
  top: 3px;
}

body.arch-nav-overlay header .dropdown a.dropdown-toggle .caret svg.fa-sort-down {
  position: relative;
  top: -3px;
}

body.arch-nav-overlay header .dropdown.show a.dropdown-toggle .caret svg.fa-sort-up {
  display: inline-block;
}

body.arch-nav-overlay header .dropdown.show a.dropdown-toggle .caret svg.fa-sort-down {
  display: none;
}

@media (max-width: 1023.98px) {
  body.arch-nav-overlay header a, body.arch-nav-overlay header a:hover, body.arch-nav-overlay header a.active, body.arch-nav-overlay header svg {
    color: white !important;
  }
}
@media (min-width: 1024px) {
    .arch-side-panel-index {
        margin-top: 190px;
    }
}

.svg-inline--fa {
  font-weight: 900;
  font-size: 1em;
  margin-top: -3px;
}

::selection {
    background: #000;
    color: #fff;
}
button:focus {
    outline: none !important;
}
.architrave-funder-logo {
    max-width: 250px;
    filter: grayscale(100%); /* Standard CSS */
    -webkit-filter: grayscale(100%); /* CSS for Webkit Browsers */
    filter: url(/elements/grayscale.svg#desaturate); /* Firefox 4-34 */
    filter: gray;  /* Internet Explorer IE6-9 */
    -webkit-filter: grayscale(1); /* Old WebKit Browsers */
}

.latin {
    font-family: "ModernAntiqua", sans-serif;
    font-size: 0.85em;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

table {
    width: 100%;
}

caption {
    caption-side: top;
    color: inherit;
    padding: 0;
}

.horizontalRule {
    border-bottom: 1px solid black;
    display: inline-block;
    top: -0.5rem;
    position: relative;
    width: 20%;
}

table .horizontalRule {
    width: 40px;
}

.tei-item {
    display: list-item;
    list-style: none;
    /*margin-left: 1rem;*/
}

.topRight {
    float: right;
}

/*.centeredText {
    display: flow-root;
    margin: auto;
    width: 50%;
}*/

figDesc {
    margin-top: 0.5rem;
    /* display: inline-block; */
    display: block;
    text-align: left;
}

figDesc:last-of-type {
    margin-bottom: 0.5rem;
}

figure {
    display: block;
    margin-top: 1rem;
}

.column-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
}

.column {
    flex-grow: 0;
    /*flex: 1 1 auto;*/
}

.small-caps {
    font-variant: small-caps
}

.modal p i {
    color: #2d2d2d;
}

#regPlaceDescription,
#regWorkDescription,
#regPersonDescription
{
    overflow-wrap: break-word;
}
