.arch-content-margin{
  margin: 0px auto;
  margin-top: 25px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.legend {
  background-color: “black”;
  line-height: 25px;
  color: #555;
  width: auto;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.arch-list-view-radio-slider label {
  cursor: pointer;
}
