<div data-template="templates:surround" data-template-with="templates/page_index.html" data-template-at="content-container">
    <style>
        .arch-error svg {
            font-size: 4em;
        }
        .arch-error {
            padding-bottom: 3rem;
        }
    </style>
    <div class="arch-content p-content text-center">
        <h1>Coming soon...</h1>
        <div class="arch-error">
          <i class="fas fa-hourglass-half"></i>
        </div>
        <div>
            <h4 class="text-muted"></h4>
        </div>
    </div>
</div>