<div data-template="templates:surround" data-template-with="templates/page_index.html" data-template-at="content-container">
    <div class="arch-content p-content" id="content">
        <div data-template="contentapi:content" data-template-id=""/>
    </div>
</div>
