<div data-template="templates:surround" data-template-with="templates/page_index.html" data-template-at="content-container">
    <div class="arch-content p-content">
        <h1 data-template="lang:translate" data-template-content="Contact" />
        <div class="row flex-column flex-lg-row-reverse align-items-start">
            <div class="col col-lg-4">
                <div class="bg-lg-light p-lg-6 arch-side-panel">
                    <div data-template="contentapi:content" data-template-id="58499710" />
                </div>
            </div>
        </div>
        <!-- / .row -->
    </div>

</div>

