<div>
  <link href="templates/css/ripple.min.css" rel="stylesheet" type="text/css"/>
  <style>
      #editionNavBar-content {
          width: 100%;
      }
      #editionNavBar .svg-inline--fa {
          font-weight: 900;
          font-size: 1.3em !important;
          margin-top: -3px;
        }
        #content-container nav {
          background-color: white !important;
          width: 81.25vw;
          max-width: 1200px;
          padding: 0px;
        }

        #editionNavBar {
          max-width: 1200px;
          padding-left: 0px;
          padding-right: 0px;
        }

        #editionNavBar .navbar-brand {
          min-width: 122px;
          max-width: 122px;
          margin-right: 0px !important;
          margin-top:8px;
          margin-bottom:8px;
          padding: 0px;
        }

        #editionNavBar .full-width {
          margin-left: 0px;
          margin-right: 0px;
          width: 100%;
          height: 100%;
        }

        #editionNavBar-content li {
          list-style: none;
        }

        #editionNavBar-content {
            display: flex !important;
            flex-basis: auto;
            height: 100%;
        }
        #editionNavBar-content .arch-white-ul-on-pink {
            color: white;
        }
        #editionNavBar-content .dropdown.show .fa-inverse{
            color:black !important;
        }
        #editionNavBar-content .dropdown.show {
            background-color: #c90057; }
        #editionNavBar-content .dropdown.show .dropdown-toggle {
            color: white;
            background-color: transparent;
            box-shadow: 0px 2px 0px 0px #c90057, 0px 3px 0px 0px white; }
        #editionNavBar-content .dropdown .caret {
            display: none; }
        #editionNavBar-content .dropdown .dropdown-toggle::after {
            content: none; }
        #editionNavBar-content .dropdown .dropdown-menu {
            background-color: #c90057;
            border-radius: 0;
            background-clip: none;
            border: 0;
            margin-top: -2px;
        }
        #editionNavBar .dropdown .dropdown-menu a {
            color: white;
            padding: 15px 30px;
        }
        #editionNavBar-content .dropdown .dropdown-menu a {
            color: white;

        }
        /*#editionNavBar-content .dropdown .dropdown-menu a:hover, #editionNavBar-content .dropdown .dropdown-menu &gt; ul:hover, #editionNavBar-content .dropdown .dropdown-menu &gt; li:hover {
            background-color: transparent !important;}
        }*/
        #editionNavBar-content .dropdown-item {
            background-color: #c90057 !important;
            color: white;}
        }
        #editionNavBar-content .dropdown .dropdown-menu &gt; ul:hover {
            background-color: transparent; }

        .arch-icon-fix-size {
          width: 3rem;
          height: 3rem;
        }

        .arch-icon-list {
          width: 100%;
          height: 100%;
          display: flex;
          margin: 0px;
        }

        .arch-no-padding {
          padding-left: 0px;
          padding-right: 0px;
        }

        #editionNavBar-content li &gt; a:hover {
          / *background-color: #f7f6f3; */
        }
        #editionNavBar-content .dropdown-menu a:visited {
            background-color: #c90057;
        }

        #editionNavBar-content .checkbox-invisible {
            display:none;
        }

        #editionNavBar-content .dropdown-item span{
            margin-left: 10px;
        }

        #ulPageNumbers a {
            padding:0px !important;
        }
        #ulPageNumbers li {
            padding: 15px 30px;
        }

        #ulPageNumbers {
            max-height: 300px;
        }

        #edition-dropdown-mobile {
            left:-220px;
        }

        #edition-dropdown-button svg {
            font-size: 35px !important;

        }

        #edition-view-items a {
            border-bottom: 2px solid;
            border-color: #c90057;
            margin-left: 2px;
            margin-right: 2px;
        }
        @media (max-width: 1023.98px) {
            #editionNavBar-content .arch-onMobileView-align-left {
                align-items: start;
            }
        }
        #editionNavBar nav {
            padding:0px;
        }
        #edition-view-items a {
            border-bottom-color: #EEE9DF
        }
        #editionNavBar .arch-icon-disabled {
            color: #EEE9DF;
            pointer-events: none;
            opacity: 0.65;
        }
        .modal svg {
            font-size: 1.3333333333em;
        }
        #infoModal .modal-header .close svg {
            margin-top: 0px !important;
            font-size: 1.333em;
        }
        #arch-edition-info-metadata .edition-info-item span {
            margin:0px;
        }
        #ulPageNumbers {
            min-width: 9rem;
        }
        .edition-info-no-margin {
            margin: 0px !important;
        }
    </style>
  <div id="editionNavBar" class="container">
    <nav class="navbar navbar-expand-lg navbar-light mx-auto p-content">
      <div class="" id="editionNavBar-content">
        <div class="d-flex flex-row full-width justify-content-sm-start justify-content-md-between justify-content-lg-between justify-content-xl-between">
          <div class="align-bottom" style="height:3rem">
            <span class="align-bottom navbar-brand" id="navbarAuthorShort"/>
          </div>
          <div class="d-none d-lg-block d-xl-none d-md-block">
            <ul class="arch-icon-list arch-no-padding">
              <li class="arch-icon-list">
                <a0 class="arch-icon-list ripple" href="#" onclick="$('#infoModal').modal('toggle');getMetadata();setMainTitle();setCitation();this.blur();return false;" data-template="lang:translate" data-template-content="showInfo" data-toggle="tooltip" data-placement="bottom" title="error">
                  <div class="d-flex align-items-center justify-content-center arch-icon-fix-size">
                    <i class="fa fa-lg fa-info-circle"/>
                  </div>
                </a0>
              </li>
              <li class="dropdown arch-download-dropdown">
                <a class="arch-icon-list dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                  <div class="d-flex align-items-center justify-content-center arch-icon-fix-size">
                    <i class="fa fa-lg fa-download"/>
                  </div>
                </a>
                <div class="dropdown-menu keep-open-on-click">
                  <a id="downloadLinkDE" class="dropdown-item arch-ul" download="Harrach_Edition_TEIfile.xml" href="https://textgridlab.org/1.0/tgcrud-public/rest/textgrid:34zmq.2/data">
                    <i class="fas fa-code"/>
                    <span data-template="lang:translate" data-template-content="fullTextDE"/>
                  </a>
                  <a id="downloadLinkFR" class="dropdown-item arch-ul" href="#" download="Harrach_Edition_TEIfile.xml">
                    <i class="fas fa-code"/>
                    <span data-template="lang:translate" data-template-content="fullTextFR"/>
                  </a>
                </div>
              </li>
            </ul>
          </div>
          <div class="d-none d-lg-block d-xl-none">
            <ul class="arch-icon-list arch-no-padding" id="edition-view-items">
              <li class="arch-icon-list">
                <a0 class="arch-icon-list ripple" href="#" onclick="btnFacs();this.blur();return false;" data-template="lang:translate" data-template-content="showFacs" data-toggle="tooltip" data-placement="bottom" title="error" id="btn-facs">
                  <div class="d-flex align-items-center justify-content-center arch-icon-fix-size">
                    <i class="fa fa-lg fa-image"/>
                  </div>
                </a0>
              </li>
              <li class="arch-icon-list">
                <a0 class="arch-icon-list ripple" href="#" onclick="btnEdition();this.blur();return false;" data-template="lang:translate" data-template-content="showEdition" data-toggle="tooltip" data-placement="bottom" title="error" id="btn-tran">
                  <div class="d-flex align-items-center justify-content-center arch-icon-fix-size">
                    <i class="fa fa-lg fa-align-left"/>
                  </div>
                </a0>
              </li>
              <li class="arch-icon-list">
                <a0 class="arch-icon-list ripple" href="#" onclick="btnTranslation();this.blur();return false;" data-template="lang:translate" data-template-content="showTranslation" data-toggle="tooltip" data-placement="bottom" title="error" id="btn-translation">
                  <div class="d-flex align-items-center justify-content-center arch-icon-fix-size">
                    <i class="fa fa-lg fa-exchange-alt"/>
                  </div>
                </a0>
              </li>
              <li class="arch-icon-list">
                <a0 class="arch-icon-list ripple" href="#" onclick="btnCode();this.blur();return false;" data-template="lang:translate" data-template-content="showXML" data-toggle="tooltip" data-placement="bottom" title="error" id="btn-code">
                  <div class="d-flex align-items-center justify-content-center arch-icon-fix-size">
                    <i class="fa fa-lg fa-code"/>
                  </div>
                </a0>
              </li>
            </ul>
          </div>
          <div class="">
            <ul class="arch-icon-list arch-no-padding">
              <li class="arch-icon-list">
                <a0 class="arch-icon-list ripple" href="#" onclick="pageBack();this.blur();return false;" data-template="lang:translate" data-template-content="pageBack" data-toggle="tooltip" data-placement="bottom" title="error" id="btn-page-back">
                  <div class="d-flex align-items-center justify-content-center arch-icon-fix-size">
                    <i class="fa fa-lg fa-chevron-left"/>
                  </div>
                </a0>
              </li>
              <li class="dropdown">
                <a class="arch-icon-list dropdown-toggle ripple" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                  <div class="d-flex align-items-center justify-content-center arch-icon-fix-size">
                    <span class="fa-layers fa-fw fa-lg" data-fa-transform="" style="">
                      <i class="fas fa-file" data-fa-transform="grow-3"/>
                      <span id="pageNumber" class="fa-layers-text fa-inverse" data-fa-transform="shrink-6 down-3" style="display:none;font-weight:900">0</span>
                      <i id="pageNumberLoader" class="fas fa-inverse fa-spinner fa-spin" data-fa-transform="shrink-8 down-2" style="display:block;font-weight:900"/>
                      <i id="pageNumberError" class="fas fa-inverse fa-times" data-fa-transform="shrink-8 down-2" style="display:none;font-weight:900"/>
                    </span>
                  </div>
                </a>
                <div class="dropdown-menu pre-scrollable" id="ulPageNumbers">
                  <a class="dropdown-item arch-ul" href="#" onclick="setNewPage(1);this.blur();return false;">
                    <span>1 (455)</span>
                  </a>
                  <a class="dropdown-item arch-ul" href="#" onclick="setNewPage(1);this.blur();return false;">
                    <span>1 (455)</span>
                  </a>
                  <a class="dropdown-item arch-ul" href="#" onclick="setNewPage(1);this.blur();return false;">
                    <span>1 (455)</span>
                  </a>
                  <a class="dropdown-item arch-ul" href="#" onclick="setNewPage(1);this.blur();return false;">
                    <span>1 (455)</span>
                  </a>
                  <a class="dropdown-item arch-ul" href="#" onclick="setNewPage(1);this.blur();return false;">
                    <span>1 (455)</span>
                  </a>
                  <a class="dropdown-item arch-ul" href="#" onclick="setNewPage(1);this.blur();return false;">
                    <span>1 (455)</span>
                  </a>
                  <a class="dropdown-item arch-ul" href="#" onclick="setNewPage(1);this.blur();return false;">
                    <span>1 (455)</span>
                  </a>
                </div>
              </li>
              <li class="arch-icon-list">
                <a0 class="arch-icon-list ripple" href="#" onclick="pageForward();this.blur();return false;" data-template="lang:translate" data-template-content="pageForward" data-toggle="tooltip" data-placement="bottom" title="error" id="btn-page-forward">
                  <div class="d-flex align-items-center justify-content-center arch-icon-fix-size">
                    <i class="fa fa-lg fa-chevron-right"/>
                  </div>
                </a0>
              </li>
            </ul>
          </div>
          <div class="d-none d-lg-block d-xl-none">
            <ul class="arch-icon-list arch-no-padding">
              <li class="dropdown">
                <a class="arch-icon-list dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false" id="options-dropdown-control">
                  <div class="d-flex align-items-center justify-content-center arch-icon-fix-size">
                    <i class="fa fa-lg fa-sliders-h"/>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right keep-open-on-click" id="filterDropdown">
                  <a class="dropdown-item arch-ul" href="#" onclick="toggleDropdownCheckbox(this);return false;" id="placeNames">
                    <i class="far fa-lg fa-check-square"/>
                    <i class="far fa-lg fa-square checkbox-invisible"/>
                    <span data-template="lang:translate" data-template-content="showPlaces"/>
                  </a>
                  <a class="dropdown-item arch-ul" href="#" onclick="toggleDropdownCheckbox(this);" id="persNames">
                    <i class="far fa-lg fa-check-square"/>
                    <i class="far fa-lg fa-square checkbox-invisible"/>
                    <span data-template="lang:translate" data-template-content="showPersons"/>
                  </a>
                  <a class="dropdown-item arch-ul" href="#" onclick="toggleDropdownCheckbox(this);" id="workNames">
                    <i class="far fa-lg fa-check-square"/>
                    <i class="far fa-lg fa-square checkbox-invisible"/>
                    <span data-template="lang:translate" data-template-content="showWorks"/>
                  </a>
                  <a class="dropdown-item arch-ul" href="#" onclick="toggleDropdownCheckbox(this);" id="scientificComments">
                    <i class="far fa-lg fa-check-square"/>
                    <i class="far fa-lg fa-square checkbox-invisible"/>
                    <span data-template="lang:translate" data-template-content="showScientificComments"/>
                  </a>
                  <a class="dropdown-item arch-ul" href="#" onclick="toggleDropdownCheckbox(this);" id="joinWords">
                    <i class="far fa-lg fa-check-square checkbox-invisible"/>
                    <i class="far fa-lg fa-square"/>
                    <span data-template="lang:translate" data-template-content="showJoinWords"/>
                  </a>
                  <a class="dropdown-item arch-ul" href="#" onclick="toggleDropdownCheckbox(this);" id="origSpelling">
                    <i class="far fa-lg fa-check-square checkbox-invisible"/>
                    <i class="far fa-lg fa-square"/>
                    <span data-template="lang:translate" data-template-content="abbreviations"/>
                  </a>
                  <a class="dropdown-item arch-ul" href="#" onclick="toggleDropdownCheckbox(this);" id="abbreviations">
                    <i class="far fa-lg fa-check-square"/>
                    <i class="far fa-lg fa-square checkbox-invisible"/>
                    <span data-template="lang:translate" data-template-content="origSpelling"/>
                  </a>
                  <a class="dropdown-item arch-ul" href="#" onclick="toggleDropdownCheckbox(this);" id="dates">
                    <i class="far fa-lg fa-check-square"/>
                    <i class="far fa-lg fa-square checkbox-invisible"/>
                    <span data-template="lang:translate" data-template-content="dates"/>
                  </a>
                  <a class="dropdown-item arch-ul" href="#" onclick="toggleDropdownCheckbox(this);" id="refs">
                    <i class="far fa-lg fa-check-square"/>
                    <i class="far fa-lg fa-square checkbox-invisible"/>
                    <span data-template="lang:translate" data-template-content="refs"/>
                  </a>
                  <div class="dropdown-divider"/>
                  <div class="row">
                    <div class="col">
                      <a class="dropdown-item arch-ul" href="#" onclick="showAll()" id="showAll">
                        <span data-template="lang:translate" data-template-content="showAll"/>
                      </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      <a class="dropdown-item arch-ul" href="#" onclick="showNone()" id="showNone">
                        <span data-template="lang:translate" data-template-content="showNone"/>
                      </a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="arch-icon-list">
                <a0 class="arch-icon-list ripple" href="#" onclick="decreaseFont();this.blur();return false;" data-template="lang:translate" data-template-content="decreaseFontSize" data-toggle="tooltip" data-placement="bottom" title="error" id="zoom-out">
                  <div class="d-flex align-items-center justify-content-center arch-icon-fix-size">
                    <i class="fa fa-lg fa-search-minus"/>
                  </div>
                </a0>
              </li>
              <li class="arch-icon-list">
                <a0 class="arch-icon-list ripple" href="#" onclick="increaseFont();this.blur();return false;" data-template="lang:translate" data-template-content="increaseFontSize" data-toggle="tooltip" data-placement="bottom" title="error" id="zoom-in">
                  <div class="d-flex align-items-center justify-content-center arch-icon-fix-size">
                    <i class="fa fa-lg fa-search-plus"/>
                  </div>
                </a0>
              </li>
              <li class="arch-icon-list">
                <a0 class="arch-icon-list ripple" href="#" onclick="fullscreen();this.blur();return false;" data-template="lang:translate" data-template-content="toggleFullscreen" data-toggle="tooltip" data-placement="bottom" title="error" id="icon-fullscreen">
                  <div class="d-flex align-items-center justify-content-center arch-icon-fix-size">
                    <i class="fa fa-lg fa-expand"/>
                  </div>
                </a0>
              </li>
              <li class="arch-icon-list arch-highlight-toggle d-none">
                <a0 class="arch-icon-list ripple" href="#" data-template="lang:translate" data-template-content="toggleHighlighting" data-toggle="tooltip" data-placement="bottom" title="error">
                  <div class="d-flex align-items-center justify-content-center arch-icon-fix-size">
                    <i class="fa fa-lg fa-highlighter"/>
                  </div>
                </a0>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <!-- Modal -->
<style>
        .arch-edition-info-section {
            margin-bottom:30px;
        }
        .edition-info-item {
            padding: 5px 0px;
        }
        .edition-info-item svg {
            color: #c90057;
        }
        .edition-info-item span {
            margin-left:10px;
        }
        .edition-info-item .no-padding {
            margin-left:0px;
        }
        .edition-info-item .edition-info-legend-item {
            width:30px;
        }
        .edition-info-item .edition-info-legend-padding {
            padding-left:8px;
        }
    </style>
  <!-- Modal -->
  <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
          <div class="modal-header row">
          <div class="col-md-11">
            <h5 class="modal-title" data-template="lang:translate" data-template-content="edition_info_title"/>
          </div>
          <div class="col-md-1">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img class="register-close-button" src="templates/images/24px.svg"/>
              </button>
            </div>
        </div>
        <div class="modal-body">
                    <div class="arch-edition-info-section">
                        <h5 id="editionMainAuthor" class="text-muted">Author</h5>
                        <h4 id="editionMainTitle">Title</h4>
                    </div>
                    <div class="arch-edition-info-section">
                        <strong>
              <span class="legend-title" data-template="lang:translate" data-template-content="licenseEdition"/>
            </strong>
            <div class="edition-info-item">
              <a target="_blank" style="text-decoration: none" href="https://creativecommons.org/licenses/by-nc-sa/3.0/">
                <img class="cc-svg" src="templates/images/cc.svg"/>
                <img class="cc-svg" src="templates/images/by.svg"/>
                <img class="cc-svg" src="templates/images/nc.svg"/>
                <img class="cc-svg" src="templates/images/sa.svg"/>
              </a>
            </div>
                    </div>
                    <div class="arch-edition-info-section">
                        <strong>
                            <span class="legend-title" data-template="lang:translate" data-template-content="citationRecommendation"/>
            </strong>
            <div class="edition-info-item row">
              <div class="col-11">
                  <span id="infoCite" style="display:none">cite to copy</span><!--
                  -->
                                <span id="infoCitePre" class="edition-info-no-margin">Error citation</span><!--
                  -->
                                <span id="infoCiteTitle" class="edition-info-no-margin">Error citation</span><!--
                  -->
                                <span id="infoCitePost" class="edition-info-no-margin">Error citation</span>
              </div>
              <div class="col-1 ml-auto d-flex align-items-center">
                  <a0 data-template="lang:translate" data-template-content="copyClipboard" href="#" onclick="this.blur();navigator.clipboard.writeText(document.querySelector('#infoCite').textContent);return false;" class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#infoCite" data-toggle="tooltip" data-placement="right" title="error">
                                    <i class="fas fa-clipboard fa-lg"/>
                                </a0>
              </div>
            </div>
                    </div>
                    <div class="arch-edition-info-section arch-symbols">
                        <strong>
              <span class="legend-title" data-template="lang:translate" data-template-content="symbols"/>
            </strong>
            <div class="edition-info-item">
                <i class="fas fa-fw fa-lg fa-map-marker-alt"/>
                            <span data-template="lang:translate" data-template-content="placeName"/>
            </div>
            <div class="edition-info-item">
                <i class="fas fa-fw fa-lg fa-user"/>
                            <span data-template="lang:translate" data-template-content="persName"/>
                        </div>
            <div class="edition-info-item">
                            <i class="fa-fw fa-lg fas fa-users"/>
                            <span data-template="lang:translate" data-template-content="persNames"/>
                        </div>
            <div class="edition-info-item">
                            <i class="fa-fw fa-lg far fa-gem"/>
                            <span data-template="lang:translate" data-template-content="works"/>
                        </div>
            <div class="edition-info-item">
                            <i class="fa-fw fa-lg far fa-comment"/>
                            <span data-template="lang:translate" data-template-content="additionalContent"/>
                        </div>
            <div class="edition-info-item">
                            <i class="fa-fw fa-lg fas fa-comment-medical"/>
                            <span data-template="lang:translate" data-template-content="author_addition"/>
                        </div>
            <div class="edition-info-item">
                            <i class="fa-fw fa-lg fas fa-comment"/>
                            <span data-template="lang:translate" data-template-content="scientificComments"/>
                        </div>
            <div class="edition-info-item">
                            <i class="fa-fw fa-lg fas fa-arrows-alt-h"/>
                            <span data-template="lang:translate" data-template-content="joinWord"/>
                        </div>
            <div class="edition-info-item">
                            <i class="fa-fw fa-lg far fa-calendar-alt"/>
                            <span data-template="lang:translate" data-template-content="legendDates"/>
                        </div>
            <div class="edition-info-item">
                            <i class="fa-fw fa-lg fa fa-external-link-square-alt"/>
                            <span data-template="lang:translate" data-template-content="legendRef"/>
                        </div>
                    </div>
                    <div class="arch-edition-info-section">
                        <strong>
              <span class="legend-title" data-template="lang:translate" data-template-content="textkritischeSiglen"/>
            </strong>
                        <div class="edition-info-item addition-info-item">
                            <div class="row edition-info-item edition-info-legend-padding">
                                <div class="edition-info-legend-item">
                                    <span class="no-padding">⟨ ⟩</span>
                                </div>
                                <div class="col">
                                    <span data-template="lang:translate" data-template-content="addition"/>
                                </div>
                            </div>
                        </div>
                        <div class="edition-info-item">
                            <div class="row edition-info-legend-padding">
                                <div class="edition-info-legend-item">
                                    <span class="no-padding">
                                        <strike>del</strike>
                                    </span>
                                </div>
                                <div>
                                    <span data-template="lang:translate" data-template-content="deletion"/>
                                </div>
                            </div>
                        </div>
                        <div class="edition-info-item">
                            <div class="row edition-info-legend-padding">
                                <div class="edition-info-legend-item">
                                    <span class="no-padding">
                                        <abbr title="Abbreviation">ab</abbr>
                                    </span>
                                </div>
                                <div>
                                    <span data-template="lang:translate" data-template-content="abbreviation"/>
                                </div>
                            </div>
                        </div>
                        <div class="edition-info-item">
                            <div class="row edition-info-legend-padding">
                                <div class="edition-info-legend-item">
                                    <span class="no-padding">[?]</span>
                                </div>
                                <div>
                                    <span data-template="lang:translate" data-template-content="unclear"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="arch-edition-info-section" id="arch-edition-info-metadata">
                        <strong>
              <span data-template="lang:translate" data-template-content="technicalMetadata"/>
            </strong>
                        <div class="row edition-info-item">
                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                <p>
                                    <span>dateCreated</span>
                                    <br/>
                                    <span class="text-muted" id="edition-dateCreated">n/a</span>
                                </p>
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 accordion-clipboard d-flex align-items-center">
                                <a0 data-template="lang:translate" data-template-content="copyClipboard" href="#" onclick="this.blur();return false;" class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#edition-dateCreated" data-toggle="tooltip" data-placement="right" title="error">
                                    <i class="fas fa-clipboard fa-lg"/>
                                </a0>
                            </div>
                        </div>
                        <div class="row edition-info-item">
                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                <p>
                                    <span>dateModified</span>
                                    <br/>
                                    <span class="text-muted" id="edition-dateModified">n/a</span>
                                </p>
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 accordion-clipboard d-flex align-items-center">
                                <a0 data-template="lang:translate" data-template-content="copyClipboard" href="#" onclick="this.blur();return false;" class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#edition-dateModified" data-toggle="tooltip" data-placement="right" title="error">
                                    <i class="fas fa-clipboard fa-lg"/>
                                </a0>
                            </div>
                        </div>
                        <div class="row edition-info-item">
                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                <p>
                                    <span>textGridURI</span>
                                    <br/>
                                    <span class="text-muted" id="edition-textGridURI">n/a</span>
                                </p>
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 accordion-clipboard d-flex align-items-center">
                                <a0 data-template="lang:translate" data-template-content="copyClipboard" href="#" onclick="this.blur();return false;" class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#edition-textGridURI" data-toggle="tooltip" data-placement="right" title="error">
                                    <i class="fas fa-clipboard fa-lg"/>
                                </a0>
                            </div>
                        </div>
                        <div class="row edition-info-item">
                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                <p>
                                    <span>PID</span>
                                    <br/>
                                    <span class="text-muted" id="edition-PID">n/a</span>
                                </p>
                            </div>
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 accordion-clipboard  d-flex align-items-center">
                                <a0 data-template="lang:translate" data-template-content="copyClipboard" href="#" onclick="this.blur();return false;" class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#edition-PID" data-toggle="tooltip" data-placement="right" title="error">
                                    <i class="fas fa-clipboard fa-lg"/>
                                </a0>
                            </div>
                        </div>
                    </div>
                </div>
      </div>
    </div>
  </div>
</div>