<div data-template="templates:surround" data-template-with="templates/page_index.html" data-template-at="content-container">
    <style>
    .nav-pills a:hover {
        background-color: #eeeeee;
    }
    </style>
    <div class="arch-content p-content" id="content">
        <h1 data-template="lang:translate" data-template-content="Guidelines"/>
        <nav>
            <div class="nav nav-pills" id="nav-tab" role="tablist" style="display: none">
                <a class="nav-item nav-link active" id="nav-transcription-tab" data-toggle="tab" href="#nav-transcription" role="tab" aria-controls="nav-transcription" aria-selected="true" onclick="toTab('transcription')">
                    <span data-template="lang:translate" data-template-content="Transcription Guidelines"/>
                </a>
                <a class="nav-item nav-link" id="nav-translation-tab" data-toggle="tab" href="#nav-translation" role="tab" aria-controls="nav-translation" aria-selected="false" onclick="toTab('translation')">
                    <span data-template="lang:translate" data-template-content="Translation Guidelines"/>
                </a>
                <a class="nav-item nav-link" id="nav-register-tab" data-toggle="tab" href="#nav-register" role="tab" aria-controls="nav-register" aria-selected="false" onclick="toTab('register')">
                    <span data-template="lang:translate" data-template-content="Register Guidelines"/>
                </a>
                <a class="nav-item nav-link" id="nav-encoding-tab" data-toggle="tab" href="#nav-encoding" role="tab" aria-controls="nav-encoding" aria-selected="false" onclick="toTab('encoding')">
                    <span data-template="lang:translate" data-template-content="Encoding Guidelines"/>
                </a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent" style="display: none">
            <div class="tab-pane fade show active" id="nav-transcription" role="tabpanel" aria-labelledby="nav-transcription-tab">
                <br/>
                <div data-template="contentapi:content" data-template-id="58499672"/>
            </div>
            <div class="tab-pane fade" id="nav-translation" role="tabpanel" aria-labelledby="nav-translation-tab">
                <br/>
                <div data-template="contentapi:content" data-template-id="58499674"/>
            </div>
            <div class="tab-pane fade" id="nav-encoding" role="tabpanel" aria-labelledby="nav-encoding-tab">
                <br/>
                <div data-template="contentapi:content" data-template-id="64974540"/>
            </div>
            <div class="tab-pane fade" id="nav-register" role="tabpanel" aria-labelledby="nav-register-tab">
                <br/>
                <div data-template="contentapi:content" data-template-id="108139194"/>
            </div>
        </div>
        
        <script type="text/javascript" src="templates/js/search.js"/>
        <script>
            function toTab(tab) {
                const url = AtUrl.current()
                url.setHashPath(`nav-${tab}`)
                url.replaceState()
            }
            
            // triggers correct tab loading on page load
            window.addEventListener('DOMContentLoaded', event => {
                const tab = document.location.hash.split('-')[1] || 'transcription'
                jQuery(`#nav-${tab}-tab`).tab('show')
                jQuery('#nav-tab, #nav-tabContent').show()
            })
        </script>

    </div>
    <!-- / .container -->
</div>