<div data-template="templates:surround" data-template-with="templates/index_surround.html" data-template-at="content-container">
    <div class="arch-content p-content">
        <div class="row align-items-start">
            <div class="col-lg-8">
                <div data-template="contentapi:content" data-template-id="58504366"/>
                <br/>
                <br/>
                <br/>
                <div class="row justify-content-around">
                    <div class="d-flex align-content-center flex-wrap justify-content-around">
                        <a href="https://www.dfg.de/">
                            <img src="templates/images/dfg_logo_englisch_blau_en.jpg" class="architrave-funder-logo"/>
                        </a>
                    </div>
                    <div class="d-flex align-content-center flex-wrap">
                        <a href="https://anr.fr" target="_blank">
                            <img src="templates/images/ANR07-HD-300dpi.jpg" class="architrave-funder-logo"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 arch-side-panel arch-side-panel-index">
                <div class="p-md-breakout bg-light">
                    <div class="p-breakout-content">
                        <ul class="nav nav-tabs flex-column pt-6 pb-6 p-lg-6">
                            <li class="nav-item">
                                <a class="arch-ul arch-pink-ul-on-gray active" href="#pane-1" data-toggle="tab">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="arch-ul arch-pink-ul-on-gray" href="#pane-3" data-toggle="tab">
                                    <span data-template="lang:translate" data-template-content="Events"/>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="tab-content">
                    <style>
                        .arch-post-teaser {
                            margin-bottom:1px;
                        }
                    </style>
                    <div class="tab-pane active" id="pane-1">
                        <div data-template="blog:readBlog"/>
                    </div>

                    <div class="tab-pane" id="pane-3">
                        <div class="arch-post-teaser">
                            <div class="p-md-breakout bg-light">
                                <div class="p-breakout-content">
                                    <div class="row pt-6 pb-6 p-lg-6 pt-lg-7">
                                        <div class="col-8 offset-1 col-lg-12 offset-lg-0">
                                            <a href="content.html?id=58499644">
                                                <p class="font-weight-bolder">
                                                    <span data-template="lang:translate" data-template-content="Workshop2017"/>
                                                </p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="arch-post-teaser">
                            <div class="p-md-breakout bg-light">
                                <div class="p-breakout-content">
                                    <div class="row pt-6 pb-6 p-lg-6 pt-lg-7">
                                        <div class="col-8 offset-1 col-lg-12 offset-lg-0">
                                            <a href="content.html?id=58499640">
                                                <p class="font-weight-bolder">
                                                    <span data-template="lang:translate" data-template-content="Workshop2018"/>
                                                </p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="arch-post-teaser">
                            <div class="p-md-breakout bg-light">
                                <div class="p-breakout-content">
                                    <div class="row pt-6 pb-6 p-lg-6 pt-lg-7">
                                        <div class="col-8 offset-1 col-lg-12 offset-lg-0">
                                            <a href="content.html?id=64974546">
                                                <p class="font-weight-bolder">
                                                    <span data-template="lang:translate" data-template-content="colloquium2021"/>
                                                </p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
