<div data-template="templates:surround" data-template-with="templates/page_index.html" data-template-at="content-container">

    <meta charset="utf-8"/>
    <link rel="stylesheet" href="templates/itinerary/css/itinerary.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" crossorigin=""/>
    <link rel="stylesheet" href="templates/itinerary/css/MarkerCluster.theme.css" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js" crossorigin=""/>
    <script src="templates/itinerary/js/leaflet-providers.js"/>
    <script src="https://unpkg.com/georaster"/>
    <script src="https://unpkg.com/georaster-layer-for-leaflet/georaster-layer-for-leaflet.browserify.min.js"/>
    <script type="text/javascript" src="templates/js/search.js"/>

    <!-- error modal for error messages -->
    <div data-template="templates:surround" data-template-with="templates/modal_error.html" data-template-at="content-container"/>
    <!-- error modal for register entries -->
    <div data-template="templates:surround" data-template-with="templates/modal_register.html" data-template-at="content-container"/>
    
    <script type="text/plain" data-id="map-info" lang="de">
        <div class="mb-3" style="height: 1rem"/>
    
        <p>Drei Karten bieten einen Einstieg in die Editionen der sechs Reisenden Christoph Pitzler, Ferdinand Bonaventura Graf von Harrach, Lambert Friedrich Corfey, Christian Friedrich Gottlieb von dem Knesebeck, Leonhard Christoph Sturm und Balthasar Neumann.</p>
<p>Über das Menu rechts oben sind entweder alle Reisenden zugleich oder einzelne Reisende ansteuerbar. Jedem Reisenden ist eine Farbe zugeordnet, wie aus der Legende links unten ersichtlich. Dort sind auch die neun Kategorien mit ihren entsprechenden Symbolen aufgeführt, nach denen die Orte, Bauten usw. eingeteilt wurden.</p>
<p>Im Menu rechts oben kann zudem zwischen zwei modernen Kartentypen gewählt werden, zum einen einer Straßenkarte mit Ortsnamen (Thunderforest) und einer ohne (Carto DB<span id="anchor"/> No labels). Die historischen Grenzverläufe, wie sie um 1700 zwischen dem Heiligen Römischen Reich Deutscher Nation und dem französischen Königreich verliefen, können zudem eingeblendet werden.</p>
<p>1/ Eine erste Europakarte fokussiert auf die Reiseverläufe von fünfen der sechs Autoren: Klickt man rechts im Menu einen der Namen an, erhält man eine für jeden Reisenden unterschiedlich farblich hinterlegte Nummernfolge, die den chronologischen Reiseverlauf nachvollziehbar macht. Die Farbgebung vertieft sich mit der Höhe der Zahlen, um die Reiseroute noch leichter erfassen zu können. Ist ein Reisender oder sind mehrere Reisende wiederholt an einem Ort gewesen (etwa Versailles), werden die entsprechend farblich hinterlegten Nummernfolgen in einem grauen Rechteckfeld oberhalb des betreffenden Orts- oder Gebäudesymbols aufgelistet. Das Datum der Aufenthalte wird nicht mit angezeigt, da diese Informationen oft nicht aus den Quellen eindeutig ermittelbar sind; in den Fällen, bei denen wir allerdings über solche präzisen Datumsangaben verfügen, sind diese entsprechend kodiert und werden in den Editionen angezeigt. Durch das Anklicken des unter dem grau hinterlegten Nummernfeld befindlichen Orts- bzw. Gebäudesymbols gelangt man in die dazugehörige Registerkarte und von dort über die Rubrik „Erwähnungen" zu allen Textstellen, in denen besagter Ort vorkommt.</p>
<p>Folgender wichtiger Hinweis zu den Grenzen des Aussagegehalts dieser Karte: Es konnten natürlich nur die Orte georeferenziert und dann visualisiert werden, die auch in den Texten erwähnt werden. Im Rahmen dieses Projekts haben wir uns – thematisch bedingt – größtenteils auf diejenigen Abschnitte der Reisebeschreibungen beschränkt, die von Frankreich handeln, obwohl einzelne Reisende ihre Tour – etwa nach Italien – fortgesetzt haben. Daher zeigt diese Karte vor allem, wie Frankreich durchreist wurde, nicht jedoch in allen Fällen, woher die Reisenden kamen (Harrach etwa aus Spanien) oder wohin sie weiterzogen (Pitzler und Corfey nach Italien). Die Reiseverläufe Knesebecks und Neumanns sind allerdings vollständig abgebildet, mit ihren jeweiligen An- und Abreisen. Die Reiseroute von Leonhard Christoph Sturm wurde dagegen nicht aufgenommen, da der Autor seinen Bericht in der literarischen Form von fiktiven Briefen verfasst hat. Deren Datierungen, ebenso wie die darin geschilderten Besuchswege, sind fiktiv und daher nicht für die Georeferenzierung geeignet. Es sei aber darauf hingewiesen, dass Sturms Bericht auf dem von Knesebeck beruht, der abgebildet werden konnte.</p>
<p>2/ Eine zweite Europakarte zeigt die von den Reisenden gesehenen und erwähnten Orte, wobei erneut der Fokus auf Frankreich liegt. Jetzt ist auch Sturms Bericht integriert. Die hier angewandte Spiderify-Technologie arbeitet mit Clusterbildungen, also der Zusammenziehung aller nahe beieinanderliegenden erwähnten Orte. Sie ermöglicht es, sich einen ersten quantifizierenden Überblick zu verschaffen, welche Regionen offenbar besonderes Interesse fanden. Durch Zoomen lösen sich die Zahlkreise immer weiter auf, bis man zu einem gesuchten Ort oder Bauwerk gelangt. Alle Orte und Bauwerke wurden neun verschiedenen Kategorien zugeordnet, die jeweils ein eigenes Symbol erhalten haben – wie aus der eingeblendeten Legende unten links ersichtlich: von öffentlichen und religiösen Gebäuden über Infrastrukturen bis zu Gärten und Parks. Es versteht sich, dass die gewählten Kategorien nicht immer eindeutig zugewiesen werden konnten. Durch das Anklicken der entsprechenden Symbole auf der Karte gelangt man erneut in die dazugehörigen Registerkarten und von diesen über die Rubrik „Erwähnungen" zu allen relevanten Textstellen.</p>
<p>Es muss einschränkend gesagt werden, dass natürlich bei weitem nicht alle „Orte“, die die Reisenden erwähnen, auf der Karte visualisiert wurden, selbst wenn diese entsprechend kodiert und über die Register auffindbar sind. Zur besseren Übersichtlichkeit haben wir eine Auswahl getroffen (etwa wurden Kontinente, Länder, geographische Regionen, Flüsse, Gebirge und Straßennamen nicht aufgenommen). Natürlich konnten auch nur identifizierbare Orte und Bauten usw. georeferenziert und angezeigt werden. Alles „Unbekannte” wird somit nicht angezeigt; diese nicht identifizierbaren Orte sind allerdings im Register in einer eigenen Rubrik aufgelistet und in den Texten auffindbar. Bewusst als graues, durchscheinendes Rechteck ausgespart bleibt auf dieser Europakarte der engere Stadtbezirk von Paris in seinen historischen Grenzen. Diesen deckt die dritte Karte ab. Dagegen sind auf dieser Europakarte alle Orte, Schlösser und Bauten im Nahbereich der Hauptstadt und der Île-de-France georeferenziert, also vor allem auch das Anwesen von Versailles.</p>
<p>3/ Die dritte Karte ist Paris gewidmet, wobei sie sich auf das innere Stadtgebiet innerhalb der heute sogenannten „Grands Boulevards" beschränkt. Alles, was außerhalb liegt, ist auf der vorgenannten Europakarte kartiert. Auch hier kann, wie bereits für die Europakarten geschildert, zwischen den Reisenden gewählt werden, um die von ihnen besuchten Orte, Gebäude usw. anzuzeigen. Die Spiderify-Technologie ermöglicht, sich einen ersten quantifizierenden Überblick zu verschaffen, welche Teilbereiche von Paris offenbar besondere Erwähnung bei bestimmten Reisenden fanden. Über das Anklicken der den gesehenen Orten zugewiesenen Symbole gelangt man wieder auf die entsprechenden Registerkarten und von dort, über die Rubrik „Erwähnungen", zu den relevanten Textstellen. Auch für Paris gilt, dass bei weitem nicht alle besuchten Orte, Bauten usw. aufgenommen wurden, um die Karte nicht zu überfrachten (so wurden etwa Faubourgs, Quartiers, Inseln, Quais und Straßen nicht integriert, ebenso wenig wie Institutionen, die ihren Standort in den betreffenden Jahrzehnten mehrfach gewechselt haben).</p>
<p>Eine weitere Option bietet die semitransparente Überblendung der modernen Straßenkarte durch eine detaillierte historische Karte von Paris, und zwar der neunten Auflage des Stadtplans von Jean Delagrive aus dem Jahr 1733. Das hier verwendete georeferenzierte Digitalisat wurde von dem Exemplar in der <a href="https://www.davidrumsey.com/luna/servlet/detail/RUMSEY~8~1~307232~90077250:Neuvième-plan-de-Paris-">David Rumsey Map Collection</a> erstellt. Eine solche historische Karte ist nie gänzlich mit gegenwärtigen georeferenzierten Karten in Deckung zu bringen. Leichte Abweichungen müssen in Kauf genommen werden.</p>
<p>Solche Kartierungen müssen stets abwägen zwischen der Verständlichkeit der Darstellung und dem Informationsreichtum in den Quellen. Die Zusammenführung aller Objekte in neun Kategorien ist dabei ein Mittel, um den Nutzer*innen einen einfachen Zugang zu bieten, selbst wenn eindeutige Zuordnungen nicht immer möglich sind. Für alle Karten gilt, dass die Lokalisierung nach bestem Wissen der Forscher*innen erfolgte.</p>
<p>Technisch wurden die Karten unter Verwendung der freien JavaScript-Bibliothek Leaflet und verschiedener Plugins umgesetzt. Der Code und die Geodaten stehen unter der Adresse <a href="https://doi.org/10.11588/data/AT1QUR" class="uri">https://doi.org/10.11588/data/AT1QUR</a> im Forschungsdatenrepositorium heiDATA entsprechend der dort angegebenen Lizenzen zur Weiternutzung zur Verfügung.</p>
<p>Hendrik Ziegler</p>
    </script>
    
    <script type="text/plain" data-id="map-info" lang="fr">
        <div class="mb-3" style="height: 1rem"/>
        
        <p>Les trois cartes proposées ici offrent une porte d’entrée dans les écrits de nos six voyageurs : Christoph Pitzler, Ferdinand Bonaventure comte de Harrach, Lambert Friedrich Corfey, Christian Friedrich Gottlieb von dem Knesebeck, Leonhard Christoph Sturm et Balthasar Neumann.</p>
<p>Le menu en haut à droite permet de suivre soit tous les voyageurs à la fois (tous les repères s’affichent alors en gris), soit chaque voyageur individuellement (les repères s’affichent dans la couleur attribuée à chacun). La légende en bas à gauche présente la classification par couleur des voyageurs ainsi que les symboles correspondant aux neuf catégories de lieux affichés sur les cartes.</p>
<p>Dans le menu de droite, on peut choisir entre deux types de cartes actuelles : l’une affichant les toponymes (Thunderforest) et l’autre sans aucun marquage (Carto DB No labels). Il est également possible d’afficher les frontières historiques du Saint-Empire romain germanique et du royaume de France aux alentours de 1700.</p>
<p>1/ Une première carte de l’Europe permet de visualiser les itinéraires de cinq de nos six voyageurs : en sélectionnant un voyageur, on obtient une suite de nombres dans la couleur attribuée à ce dernier qui permet de reconstituer son trajet de façon chronologique. La teinte devient plus dense au fur et à mesure que les chiffres augmentent, de manière à mieux faire ressortir son parcours. Si un ou plusieurs voyageurs se sont rendus plus d’une fois au même endroit (par exemple à Versailles), les nombres, correspondant au numéro d’ordre de la visite, apparaissent dans un rectangle gris au-dessus de l’icône du lieu ou du bâtiment concerné. Nous n’avons pas affiché les dates des visites, car elles ne sont pas toujours données par les auteurs (dans le cas où nous disposons de l’information, les dates sont encodées et s’affichent dans les textes édités). En cliquant sur l’icône associée à un numéro, on ouvre une fenêtre (pop-up) proposant des informations sur le lieu ou l’édifice concerné, et de là, via la section « Occurrences », à tous les passages des textes dans lesquels ce lieu est cité.</p>
<p>Précision importante sur les limites des informations données par cette carte : seuls les lieux cités dans les textes qui ont pu être identifiés et géoréférencés s’affichent. Nous avons choisi de montrer ici principalement les itinéraires des voyageurs en France, bien que certains d’entre eux aient poursuivi leur périple, par exemple en gagnant l’Italie. Cette carte montre donc comment la France a été parcourue, mais pas toujours d’où arrivaient les voyageurs (d’Espagne pour Harrach, par exemple) ni vers où ils ont continué (l’Italie pour Pitzler et Corfey). Les trajets de Knesebeck et Neumann sont toutefois représentés dans leur intégralité, avec leurs points de départ et d’arrivée. Celui de Leonhard Christoph Sturm n’a en revanche pas été intégré, car l’auteur a choisi pour son récit une forme littéraire, celle de lettres fictives : il n’est donc pas possible de reconstituer l’itinéraire réel et chronologique. Notons toutefois que la relation de voyage de Sturm repose sur celle de Knesebeck, or cette dernière a pu être représentée.</p>
<p>2/ Une seconde carte de l’Europe montre les lieux vus et mentionnés par nos voyageurs, là aussi en mettant l’accent sur la France. Ici, le récit épistolaire de Sturm a été intégré. La fonctionnalité « spiderify », grâce au cluster (c’est-à-dire au regroupement de points proches les uns des autres), permet d’offrir une première visualisation quantitative des zones citées ou visitées par les auteurs. À chaque clic sur un cluster, celui-ci se subdivise jusqu’à ce que les éléments qui y sont contenus (lieu ou bâtiment) s’affichent. L’ensemble des lieux et édifices cités ou visités – des bâtiments publics et religieux aux parcs et aux jardins, en passant par les infrastructures et les monuments – ont été répartis en neuf catégories distinctes, lesquelles ont chacune une icône propre. Nous avons dû faire des choix pour le classement des lieux (certains pouvant appartenir à plusieurs catégories). En cliquant sur les icônes on accède là aussi aux entrés d’index correspondantes et à partir de là, via la section « Occurrences », à tous les passages des textes où est mentionné le lieu sélectionné.</p>
<p>Signalons toutefois que la carte ne montre pas tous les lieux mentionnés par les voyageurs et répertoriés dans les index : ainsi n’y figurent pas les continents, les pays, les zones géographiques, les reliefs, cours d’eau et odonymes. De plus, il n’était possible de géoréférencer et donc de visualiser que les lieux et les édifices identifiables. Tous les lieux non identifiés (ces derniers sont répertoriés dans la rubrique « Index » du site dans une section à part) ne sont donc pas non plus visibles. Cette carte de l’Europe laisse de côté le cœur de Paris délimité par ses frontières historiques, lequel est ici matérialisé par un rectangle grisé translucide. Cette partie de la ville est l’objet de la troisième carte. En revanche, tous les lieux, châteaux et édifices situés à proximité de la capitale française et de l’Île-de-France figurent sur cette carte de l’Europe, en particulier le site de Versailles.</p>
<p>3/ La troisième carte, consacrée à Paris, montre uniquement la zone aujourd’hui circonscrite par les Grands Boulevards. Tout ce qui se trouve hors de ce périmètre est répertorié sur la carte de l’Europe. Comme pour les deux autres cartes, on peut visualiser les lieux cités par voyageur. L’affichage en cluster offre un premier aperçu quantitatif des quartiers de Paris les plus mentionnés. En cliquant sur les icônes, on accède aux entrées d’index correspondantes et de là aux passages de textes qui s’y rapportent, via la section « Occurrences ». Il n’était pas possible de représenter ici la totalité des lieux et édifices mentionnés, sous peine de surcharger la carte : ainsi les faubourgs, quartiers, îles, quais et rues ont été laissés de côté, ainsi que certaines institutions ayant connu des emplacements multiples ou différents selon les époques.</p>
<p>Enfin, il est possible de superposer en semi-transparence la carte moderne et une carte historique détaillée de Paris, la neuvième édition du plan de la ville conçu par Jean Delagrive en 1733. La version géoréférencée utilisée ici a été numérisée à partir de l’exemplaire de la <a href="https://www.davidrumsey.com/luna/servlet/detail/RUMSEY~8~1~307232~90077250:Neuvième-plan-de-Paris-">David Rumsey Map Collection</a>. Il importe toutefois de noter qu’une telle carte historique n’est jamais complètement superposable avec les cartes géoréférencées actuelles. Il faut s’accommoder de légères divergences.</p>
<p>La visualisation cartographique exige d’arbitrer sans cesse entre la lisibilité de l’affichage d’une part, et la richesse et la diversité des sources d’autre part. En classant les lieux en neuf catégories distinctes, nous offrons un moyen d’accès simple aux données indexées.</p>
<p>Ces cartes ont été élaborées grâce à la bibliothèque JavaScript libre de cartographie en ligne <a href="https://leafletjs.com/">Leaflet</a> et à plusieurs extensions. Le code et les données géographiques sont stockés à l’adresse <a href="https://doi.org/10.11588/data/AT1QUR" class="uri">https://doi.org/10.11588/data/AT1QUR</a> dans le dépôt de données de recherche heiDATA, et sont à disposition pour d’autres utilisations dans le respect des termes des licences qui les accompagnent.</p>
<p>Hendrik Ziegler</p>
    </script>

    <div class="arch-content p-content arch-content-margin" id="content">
        <h1 data-template="lang:translate" data-template-content="Itineraries"/>
        
        <div class="arch-list-view-radio-slider">
            <div class="btn-toolbar btn-group-toggle btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="radio" name="map_button" value="MapInfo" autocomplete="off" checked="checked"/>
                    <span data-template="lang:translate" data-template-content="mapInfo"/>
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="map_button" value="NumberedMap" autocomplete="off" checked="checked"/>
                    <span data-template="lang:translate" data-template-content="numberedMap"/>
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="map_button" value="EuropeMap" autocomplete="off"/> 
                    <span data-template="lang:translate" data-template-content="europeMap"/>
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="map_button" value="ParisMap" autocomplete="off"/>
                    <span data-template="lang:translate" data-template-content="parisMap"/>
                </label>
            </div>
        </div>
        
        <script type="text/javascript" src="templates/js/jquery.browser.min.js"/>
        <script type="text/javascript" src="templates/js/edition.js"/>
        <script type="text/javascript" src="templates/js/registers.js"/>
        
        <div id="content-panel" class="arch-content arch-content-margin"/>
        
        <script type="module">
            import {NumberedMap} from './templates/itinerary/js/numberedMap.js'
            import {ParisMap} from './templates/itinerary/js/parisMap.js'
            import {EuropeMap} from './templates/itinerary/js/europeMap.js'

            // the currently loaded instance
            let content = null
            
            class MapInfo {
                constructor(elementId) {
                    this.elementId = elementId
                    this.container = document.querySelector(`#${this.elementId}`)
                }
                
                build() {
                    const locale = AtUrl.current().params()['lang']
                    const selector = `script[data-id='map-info'][lang='${locale}']`
                    const html = document.querySelector(selector).innerHTML
                    // leaflet doesn't clean up after itself
                    this.container.classList.remove(
                        'leaflet-container',
                        'leaflet-retina',
                        'leaflet-fade-anim'
                    )
                    this.container.innerHTML = html
                }
                
                destroy() {
                    this.container.innerHTML = ''
                }
            }
            
            function mount(tab) {
                const klasses = {MapInfo, NumberedMap, ParisMap, EuropeMap}
                const klass = klasses[tab]
                
                const url = AtUrl.current()
                url.updateHashParams({'tab-id': tab})
                history.replaceState(null, null, url.formatHash())
                
                if (content) {content.destroy()}
                content = new klass('content-panel')
                content.build()
            }
            
            // for initial loading, we activate the right tab and its respective
            // button, we also recreate the modals as on other pages
            const tab = AtUrl.current().hashParams()['tab-id'] || 'MapInfo'
            mount(tab)
            $('.arch-list-view-radio-slider label').removeClass('active')
            $(`.arch-list-view-radio-slider input[value='${tab}']`).parent().addClass('active')
            recreateModals()
            
            // then we attach event handlers to the buttons
            const labels = document.querySelectorAll('.arch-list-view-radio-slider label')
            for (const label of labels) {
                const button = label.querySelector('input')
                label.addEventListener('click', event => {
                    const tab = button.getAttribute('value')
                    mount(tab)
                })
            }
        </script>
    </div>
</div>