<div>
  <!-- Modals for Edition -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" data-template="lang:translate" data-template-content="translationNote"/>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="fas fa-times"/>
          </button>
        </div>
        <div class="modal-body">
          <span>
            <i class="fas fa-spinner fa-pulse"/>
          </span>
        </div>
        <!--<div class="modal-footer"><button type="button" class="btn btn-primary" data-dismiss="modal">Close</button></div>-->
      </div>
    </div>
  </div>

  <style>
    .arch-register-icon svg {
      font-size: 1.333333em;
      margin-top: 3px;
      margin-right: 10px;
      color: #c90057;
    }

    .modal-register .edition-info-item span {
      margin-left: 0px;
    }

    .modal-register .arch-edition-info-section svg {
      color: #2d2d2d;
      font-size: 1em;
    }

    .modal-register .arch-edition-info-section a:hover &gt;

    span {
      color: #c90057 !important;
    }

    .modal-register .arch-edition-info-section a:hover &gt;

    svg {
      color: #c90057 !important;
    }

    .arch-edition-register-occurences svg {
      margin-top: 3px;
      margin-right: 10px;
    }

    .edition-info-item.arch-edition-register-occurences-collapse {
      padding-left: 20px;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    .edition-info-item.arch-edition-register-occurences-collapse2 {
      padding-left: 40px;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    .modal-register .modal-header .arch-register-icon svg {
      margin-top: 4px !important;
    }

    .modal-register .modal-header {
      min-height: 3em;
    }

    /*.modal-register .modal-header button {
            margin-top:-0.8rem;
            padding-top:0.8rem;
            padding-bottom:0.8rem;
        }*/
    .modal-register .modal-header .close svg {
      margin-top: 0px !important;
      font-size: 1.333em;
    }

    .modal-register .close {
      margin-left: 0px;
    }

    .arch-edition-unidentified svg {
      font-size: 1.33333em !important;
    }

    .arch-edition-unidentified {
      padding-bottom: 20px;
      padding-left: 0;
    }

    .arch-edition-unidentified div {
      padding-left: 0;
    }

    .arch-edition-unidentified ul span {
      padding-left: 5px;
      padding-right: 5px;
    }

    .arch-edition-register-occurences-collapse ul span {
      padding-right: 5px;
    }

    .arch-edition-register-occurences-collapse li {
      padding-bottom: 10px;
    }

    .edition-info-item .hide {
      display: none;
    }

    .modal-register .close {
      min-height: 2.6em;
    }

    .modal-register .register-close-button {
      height: 1.8rem;
    }

    .modal-register .arch-edition-register-occurences {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .modal-register .arch-edition-register-occurences-collapse {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .modal-register .arch-edition-register-occurences ul {
      margin-bottom: 0px;
    }

    .arch-edition-register-occurences-collapse-main {
      //line-height:0;
    }

    .arch-edition-register-occurences-collapse2 ul {
      margin-bottom: 0;
      padding-inline-start: 20px;
    }

    .arch-edition-info-section {
      margin-bottom: 30px;
    }

    .edition-info-item {
      padding: 5px 0px;
    }

    .edition-info-item svg {
      color: #c90057;
    }

    .edition-info-item span {
      margin-left: 10px;
    }

    .edition-info-item .no-padding {
      margin-left: 0px;
    }
  </style>
  <div class="modal fade modal-register" id="ModalCommentTranslation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header row">
          <div class="col-md-1 arch-register-icon">
            <i class="fas fa-comment"/>
          </div>
          <div class="col-md-10">
            <h5 class="modal-title" data-template="lang:translate" data-template-content="translationNote"/>
          </div>
          <div class="col-md-1">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <img class="register-close-button" src="templates/images/24px.svg"/>
            </button>
          </div>
        </div>
        <div class="modal-body">
          <span id="ModalCommentTranslationText"/>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade modal-register" id="ModalCommentScientific" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header row">
          <div class="col-md-1 arch-register-icon">
            <i class="fas fa-comment"/>
          </div>
          <div class="col-md-10">
            <h5 class="modal-title" data-template="lang:translate" data-template-content="scientificNote"/>
          </div>
          <div class="col-md-1">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <img class="register-close-button" src="templates/images/24px.svg"/>
            </button>
          </div>
        </div>
        <div class="modal-body">
          <span id="ModalCommentScientificText"/>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade modal-register" id="ModalCommentAuthorial" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header row">
          <div class="col-md-1 arch-register-icon">
            <i class="far fa-comment"/>
          </div>
          <div class="col-md-10">
            <h5 class="modal-title" data-template="lang:translate" data-template-content="authorialNote"/>
          </div>
          <div class="col-md-1">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <img class="register-close-button" src="templates/images/24px.svg"/>
            </button>
          </div>
        </div>
        <div class="modal-body">
          <span id="ModalCommentAuthorialText"/>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade modal-register" id="ModalCommentEditorial" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header row">
          <div class="col-md-1 arch-register-icon">
            <i class="far fa-comment"/>
          </div>
          <div class="col-md-10">
            <h5 class="modal-title" data-template="lang:translate" data-template-content="editorialNote"/>
          </div>
          <div class="col-md-1">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <img class="register-close-button" src="templates/images/24px.svg"/>
            </button>
          </div>
        </div>
        <div class="modal-body">
          <span id="ModalCommentEditorialText"/>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade modal-register" id="modalRegisterPersons" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header row">
          <div class="col-md-1 arch-register-icon">
            <i class="fas fa-user"/>
          </div>
          <div class="col-md-10">
            <h5 class="modal-title" id="regPersonTitle"/>
          </div>
          <div class="col-md-1">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <img class="register-close-button" src="templates/images/24px.svg"/>
            </button>
          </div>
        </div>
        <div class="modal-body">
          <div class="arch-edition-info-section">
            <div id="regPersonUnidentified" class="edition-info-item arch-edition-unidentified" style="display:none">
              <!--<div class="col-12 row justify-content-center">-->
              <div class="col-12">
                <!--<i class="fas fa-exclamation"/>-->
                <i>
                  <strong>
                    <span data-template="lang:translate" data-template-content="unidentifiedPerson"/>
                  </strong>
                </i>
                <!--<i class="fas fa-exclamation"/>-->
              </div>
            </div>
            <strong>
              <span class="legend-title" data-template="lang:translate" data-template-content="generalInformation"/>
            </strong>
            <div class="arch-general">
                <div class="row edition-info-item">
                  <div class="col-12">
                    <span data-template="lang:translate" data-template-content="registerType"/>
                    <span id="regPersonPersonNameType" class="text-muted"/>
                  </div>
                </div>
                <div class="row edition-info-item">
                  <div class="col-12">
                    <span data-template="lang:translate" data-template-content="publicRegisterLink"/>
                    <a id="regPersonIDNOLink" href="#" target="_blank">
                      <span id="regPersonIDNOType" class="text-muted"/>
                      <i class="fas fa-external-link-alt"/>
                    </a>
                  </div>
                </div>
                <div class="row edition-info-item">
                  <div class="col-12">
                    <span data-template="lang:translate" data-template-content="registerNationality"/>
                    <span id="regPersonNationality" class="text-muted"/>
                  </div>
                </div>
                <div class="row edition-info-item">
                  <div class="col-12">
                    <span data-template="lang:translate" data-template-content="registerFunction"/>
                    <span id="regPersonFunction" class="text-muted"/>
                  </div>
                </div>
                <div class="row edition-info-item">
                  <div class="col-12">
                    <span data-template="lang:translate" data-template-content="registerBirthdate"/>
                    <span id="regPersonBirthdate" class="text-muted"/>
                  </div>
                </div>
                <div class="row edition-info-item">
                  <div class="col-12">
                    <span data-template="lang:translate" data-template-content="registerBirthplace"/>
                    <span id="regPersonBirthplace" class="text-muted"/>
                  </div>
                </div>
                <div class="row edition-info-item">
                  <div class="col-12">
                    <span data-template="lang:translate" data-template-content="registerDeathdate"/>
                    <span id="regPersonDeathdate" class="text-muted"/>
                  </div>
                </div>
                <div class="row edition-info-item">
                  <div class="col-12">
                    <span data-template="lang:translate" data-template-content="registerDeathplace"/>
                    <span id="regPersonDeathplace" class="text-muted"/>
                  </div>
                </div>
            </div>
          </div>
          <div class="arch-edition-info-section">
            <strong>
              <span data-template="lang:translate" data-template-content="description"/>
            </strong>
            <div id="regPersonDescription">
              <p/>
            </div>
          </div>
          <div class="arch-edition-info-section arch-edition-register-occurences" id="arch-edition-register-occurences-persons">
            <strong>
              <span data-template="lang:translate" data-template-content="occurences"/>
            </strong>
            <div class="row edition-info-item arch-edition-register-occurences" id="archOccurrencesPersonsInTextWrapper">
              <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesPersonsInText" href="#archOccurrencesPersonsInText">
                <i class="fas fa-chevron-down"/>
                <i class="fas fa-chevron-up hide"/>
                <span data-template="lang:translate" data-template-content="inEncodedText"/>
                <span>(</span>
                <span id="modal-register-occurences-text"/>
                <span>)</span>
              </a>
            </div>
            <div class="edition-info-item collapse arch-edition-register-occurences-collapse arch-edition-register-occurences-collapse-main" id="archOccurrencesPersonsInText" data-parent="#arch-edition-register-occurences-persons">
              <div id="archOccurrencesPersonsInTextPitzlerWrapper">
                <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesPersonsInTextPitzler" href="#archOccurrencesPersonsInTextPitzler">
                  <i class="fas fa-chevron-down"/>
                  <i class="fas fa-chevron-up hide"/>
                  <span>Pitzler</span>
                  <span>(</span>
                  <span id="modal-register-occurences-text-Pitzler"/>
                  <span>)</span>
                </a>
              </div>
              <div class="edition-info-item collapse arch-edition-register-occurences-collapse2" id="archOccurrencesPersonsInTextPitzler" data-parent="#archOccurrencesPersonsInText">
                <ul style="list-style: none;">
                </ul>
              </div>
              <div id="archOccurrencesPersonsInTextHarrachWrapper">
                <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesPersonsInTextHarrach" href="#archOccurrencesPersonsInTextHarrach">
                  <i class="fas fa-chevron-down"/>
                  <i class="fas fa-chevron-up hide"/>
                  <span>Harrach</span>
                  <span>(</span>
                  <span id="modal-register-occurences-text-Harrach"/>
                  <span>)</span>
                </a>
              </div>
              <div class="edition-info-item collapse arch-edition-register-occurences-collapse2" id="archOccurrencesPersonsInTextHarrach" data-parent="#archOccurrencesPersonsInText">
                <ul style="list-style: none;">
                </ul>
              </div>
              <div id="archOccurrencesPersonsInTextCorfeyWrapper">
                <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesPersonsInTextCorfey" href="#archOccurrencesPersonsInTextCorfey">
                  <i class="fas fa-chevron-down"/>
                  <i class="fas fa-chevron-up hide"/>
                  <span>Corfey</span>
                  <span>(</span>
                  <span id="modal-register-occurences-text-Corfey"/>
                  <span>)</span>
                </a>
              </div>
              <div class="row edition-info-item collapse arch-edition-register-occurences-collapse2" id="archOccurrencesPersonsInTextCorfey" data-parent="#archOccurrencesPersonsInText">
                <ul style="list-style: none;">
                </ul>
              </div>
              <div id="archOccurrencesPersonsInTextKnesebeckWrapper">
                <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesPersonsInTextKnesebeck" href="#archOccurrencesPersonsInTextKnesebeck">
                  <i class="fas fa-chevron-down"/>
                  <i class="fas fa-chevron-up hide"/>
                  <span>Knesebeck</span>
                  <span>(</span>
                  <span id="modal-register-occurences-text-Knesebeck"/>
                  <span>)</span>
                </a>
              </div>
              <div class="row edition-info-item collapse arch-edition-register-occurences-collapse2" id="archOccurrencesPersonsInTextKnesebeck" data-parent="#archOccurrencesPersonsInText">
                <ul style="list-style: none;">
                </ul>
              </div>
              <div id="archOccurrencesPersonsInTextSturmWrapper">
                <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesPersonsInTextSturm" href="#archOccurrencesPersonsInTextSturm">
                  <i class="fas fa-chevron-down"/>
                  <i class="fas fa-chevron-up hide"/>
                  <span>Sturm</span>
                  <span>(</span>
                  <span id="modal-register-occurences-text-Sturm"/>
                  <span>)</span>
                </a>
              </div>
              <div class="row edition-info-item collapse arch-edition-register-occurences-collapse2" id="archOccurrencesPersonsInTextSturm" data-parent="#archOccurrencesPersonsInText">
                <ul style="list-style: none;">
                </ul>
              </div>
              <div id="archOccurrencesPersonsInTextNeumannWrapper">
                <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesPersonsInTextNeumann" href="#archOccurrencesPersonsInTextNeumann">
                  <i class="fas fa-chevron-down"/>
                  <i class="fas fa-chevron-up hide"/>
                  <span>Neumann</span>
                  <span>(</span>
                  <span id="modal-register-occurences-text-Neumann"/>
                  <span>)</span>
                </a>
              </div>
              <div class="row edition-info-item collapse arch-edition-register-occurences-collapse2" id="archOccurrencesPersonsInTextNeumann" data-parent="#archOccurrencesPersonsInText">
                <ul style="list-style: none;">
                </ul>
              </div>
            </div>
            <div class="row edition-info-item arch-edition-register-occurences" id="archOccurrencesPersonsInPlacesWrapper">
              <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesPersonsInPlaces" href="#archOccurrencesPersonsInPlaces">
                <i class="fas fa-chevron-down"/>
                <i class="fas fa-chevron-up hide"/>
                <span data-template="lang:translate" data-template-content="inEncodedPlaces"/>
                <span>(</span>
                <span id="modal-register-occurences-places"/>
                <span>)</span>
              </a>
            </div>
            <div class="row edition-info-item collapse arch-edition-register-occurences-collapse" id="archOccurrencesPersonsInPlaces" data-parent="#arch-edition-register-occurences-persons">
              <ul style="list-style: none;">
              </ul>
            </div>

            <div class="row edition-info-item arch-edition-register-occurences" id="archOccurrencesPersonsInWorksWrapper">
              <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesPersonsInWorks" href="#archOccurrencesPersonsInWorks">
                <i class="fas fa-chevron-down"/>
                <i class="fas fa-chevron-up hide"/>
                <span data-template="lang:translate" data-template-content="inEncodedWorks"/>
                <span>(</span>
                <span id="modal-register-occurences-works"/>
                <span>)</span>
              </a>
            </div>
            <div class="row edition-info-item collapse arch-edition-register-occurences-collapse" id="archOccurrencesPersonsInWorks" data-parent="#arch-edition-register-occurences-persons">
              <ul style="list-style: none;">
              </ul>
            </div>
          </div>
        </div>
        <!--<div class="modal-footer"><button type="button" class="btn btn-primary" data-dismiss="modal">Close</button></div>-->
      </div>
    </div>
  </div>
  <div class="modal fade modal-register" id="modalRegisterPlaces" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header row">
          <div class="col-md-1 arch-register-icon">
            <i class="fas fa-map-marker-alt"/>
          </div>
          <div class="col-md-10">
            <h5 class="modal-title" id="regPlaceTitle"/>
          </div>
          <div class="col-md-1">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <img src="templates/images/24px.svg"/>
            </button>
          </div>
        </div>
        <div class="modal-body">
          <div class="arch-edition-info-section">
            <div id="regPlaceUnidentified" class="edition-info-item arch-edition-unidentified" style="display:none">
              <!--<div class="col-12 row justify-content-center">-->
              <div class="col-12">
                <!--<i class="fas fa-exclamation"/>-->
                <i>
                  <strong>
                    <span data-template="lang:translate" data-template-content="unidentifiedPlace"/>
                  </strong>
                </i>
                <!--<i class="fas fa-exclamation"/>-->
              </div>
            </div>
            <strong>
              <span class="legend-title" data-template="lang:translate" data-template-content="generalInformation"/>
            </strong>
            <div class="row edition-info-item">
              <div class="col-12">
                <span data-template="lang:translate" data-template-content="registerType"/>
                <span id="regPlacePlaceNameType" class="text-muted"/>
              </div>
            </div>
            <div class="row edition-info-item">
              <div class="col-12">
                <span data-template="lang:translate" data-template-content="publicRegisterLink"/>
                <a id="regPlaceIDNOLink" href="#" target="_blank">
                  <span id="regPlaceIDNOType" class="text-muted"/>
                  <i class="fas fa-external-link-alt"/>
                </a>
              </div>
            </div>
            <div class="row edition-info-item">
              <div class="col-12">
                <span data-template="lang:translate" data-template-content="registerPlaceNameCurrent"/>
                <span id="regPlacePlaceNameCurrent" class="text-muted"/>
              </div>
            </div>
            <div class="row edition-info-item">
              <div class="col-12">
                <span data-template="lang:translate" data-template-content="registerPlaceNameHistorical"/>
                <span id="regPlacePlaceNameHistorical" class="text-muted"/>
              </div>
            </div>
            <div class="row edition-info-item">
              <div class="col-12">
                <span data-template="lang:translate" data-template-content="registerFunction"/>
                <span id="regPlaceFunction" class="text-muted"/>
              </div>
            </div>
            <div class="row edition-info-item">
              <div class="col-12">
                <span data-template="lang:translate" data-template-content="registerState"/>
                <span id="regPlaceState" class="text-muted"/>
              </div>
            </div>
            <div class="row edition-info-item">
              <div class="col-12">
                <span data-template="lang:translate" data-template-content="registerArtist"/>
                <span id="regPlaceArtist" class="text-muted"/>
              </div>
            </div>
            <div class="row edition-info-item">
              <div class="col-12">
                <span data-template="lang:translate" data-template-content="registerConstruction"/>
                <span id="regPlaceConstruction" class="text-muted"/>
              </div>
            </div>
            <div class="row edition-info-item">
              <div class="col-12">
                <span id="regPlaceLocation" data-template="lang:translate" data-template-content="registerLocation"/>
                <a id="regPlaceLocationLink" href="#" target="_blank">
                  <span id="regPlaceLocationLinkText" class="text-muted"/>
                  <i class="fas fa-external-link-alt"/>
                </a>
              </div>
            </div>
          </div>
          <div class="arch-edition-info-section">
            <strong>
              <span data-template="lang:translate" data-template-content="description"/>
            </strong>
            <div id="regPlaceDescription">
              <p/>
            </div>
          </div>
          <div class="arch-edition-info-section arch-edition-register-occurences" id="arch-edition-register-occurences-Places">
            <strong>
              <span data-template="lang:translate" data-template-content="occurences"/>
            </strong>
            <div class="row edition-info-item arch-edition-register-occurences" id="archOccurrencesPlacesInTextWrapper">
              <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesPlacesInText" href="#archOccurrencesPlacesInText">
                <i class="fas fa-chevron-down"/>
                <i class="fas fa-chevron-up hide"/>
                <span data-template="lang:translate" data-template-content="inEncodedText"/>
                <span>(</span>
                <span id="modal-register-occurences-places-text"/>
                <span>)</span>
              </a>
            </div>
            <div class="edition-info-item collapse arch-edition-register-occurences-collapse arch-edition-register-occurences-collapse-main" id="archOccurrencesPlacesInText" data-parent="#arch-edition-register-occurences-Places">
              <div id="archOccurrencesPlacesInTextPitzlerWrapper">
                <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesPlacesInTextPitzler" href="#archOccurrencesPlacesInTextPitzler">
                  <i class="fas fa-chevron-down"/>
                  <i class="fas fa-chevron-up hide"/>
                  <span>Pitzler</span>
                  <span>(</span>
                  <span id="modal-register-occurences-places-text-Pitzler"/>
                  <span>)</span>
                </a>
              </div>
              <div class="edition-info-item collapse arch-edition-register-occurences-collapse2" id="archOccurrencesPlacesInTextPitzler" data-parent="#archOccurrencesPlacesInText">
                <ul style="list-style: none;">
                </ul>
              </div>
              <div id="archOccurrencesPlacesInTextHarrachWrapper">
                <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesPlacesInTextHarrach" href="#archOccurrencesPlacesInTextHarrach">
                  <i class="fas fa-chevron-down"/>
                  <i class="fas fa-chevron-up hide"/>
                  <span>Harrach</span>
                  <span>(</span>
                  <span id="modal-register-occurences-places-text-Harrach"/>
                  <span>)</span>
                </a>
              </div>
              <div class="edition-info-item collapse arch-edition-register-occurences-collapse2" id="archOccurrencesPlacesInTextHarrach" data-parent="#archOccurrencesPlacesInText">
                <ul style="list-style: none;">
                </ul>
              </div>
              <div id="archOccurrencesPlacesInTextCorfeyWrapper">
                <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesPlacesInTextCorfey" href="#archOccurrencesPlacesInTextCorfey">
                  <i class="fas fa-chevron-down"/>
                  <i class="fas fa-chevron-up hide"/>
                  <span>Corfey</span>
                  <span>(</span>
                  <span id="modal-register-occurences-places-text-Corfey"/>
                  <span>)</span>
                </a>
              </div>
              <div class="row edition-info-item collapse arch-edition-register-occurences-collapse2" id="archOccurrencesPlacesInTextCorfey" data-parent="#archOccurrencesPlacesInText">
                <ul style="list-style: none;">
                </ul>
              </div>
              <div id="archOccurrencesPlacesInTextKnesebeckWrapper">
                <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesPlacesInTextKnesebeck" href="#archOccurrencesPlacesInTextKnesebeck">
                  <i class="fas fa-chevron-down"/>
                  <i class="fas fa-chevron-up hide"/>
                  <span>Knesebeck</span>
                  <span>(</span>
                  <span id="modal-register-occurences-places-text-Knesebeck"/>
                  <span>)</span>
                </a>
              </div>
              <div class="row edition-info-item collapse arch-edition-register-occurences-collapse2" id="archOccurrencesPlacesInTextKnesebeck" data-parent="#archOccurrencesPlacesInText">
                <ul style="list-style: none;">
                </ul>
              </div>
              <div id="archOccurrencesPlacesInTextSturmWrapper">
                <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesPlacesInTextSturm" href="#archOccurrencesPlacesInTextSturm">
                  <i class="fas fa-chevron-down"/>
                  <i class="fas fa-chevron-up hide"/>
                  <span>Sturm</span>
                  <span>(</span>
                  <span id="modal-register-occurences-places-text-Sturm"/>
                  <span>)</span>
                </a>
              </div>
              <div class="row edition-info-item collapse arch-edition-register-occurences-collapse2" id="archOccurrencesPlacesInTextSturm" data-parent="#archOccurrencesPlacesInText">
                <ul style="list-style: none;">
                </ul>
              </div>
              <div id="archOccurrencesPlacesInTextNeumannWrapper">
                <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesPlacesInTextNeumann" href="#archOccurrencesPlacesInTextNeumann">
                  <i class="fas fa-chevron-down"/>
                  <i class="fas fa-chevron-up hide"/>
                  <span>Neumann</span>
                  <span>(</span>
                  <span id="modal-register-occurences-places-text-Neumann"/>
                  <span>)</span>
                </a>
              </div>
              <div class="row edition-info-item collapse arch-edition-register-occurences-collapse2" id="archOccurrencesPlacesInTextNeumann" data-parent="#archOccurrencesPlacesInText">
                <ul style="list-style: none;">
                </ul>
              </div>
            </div>
            <!-- There are no works in persons.xml
                      <div class="row edition-info-item arch-edition-register-occurences" id="archOccurrencesPlacesInPersonsWrapper">
                        <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesPlacesInPersons" href="#archOccurrencesPlacesInPersons">
                          <i class="fas fa-chevron-down" />
                          <i class="fas fa-chevron-up hide" />
                          <span data-template="lang:translate" data-template-content="inEncodedPersons" />
                          <span>(</span>
                          <span id="modal-register-occurences-places-in-persons"></span>
                          <span>)</span>
                        </a>
                      </div>
                      <div class="row edition-info-item collapse arch-edition-register-occurences-collapse" id="archOccurrencesPlacesInPersons" data-parent="#arch-edition-register-occurences-Places">
                        <ul style="list-style: none;">
                        </ul>
                      </div>
                        -->

            <div class="row edition-info-item arch-edition-register-occurences" id="archOccurrencesPlacesInWorksWrapper">
              <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesPlacesInWorks" href="#archOccurrencesPlacesInWorks">
                <i class="fas fa-chevron-down"/>
                <i class="fas fa-chevron-up hide"/>
                <span data-template="lang:translate" data-template-content="inEncodedWorks"/>
                <span>(</span>
                <span id="modal-register-occurences-places-in-works"/>
                <span>)</span>
              </a>
            </div>
            <div class="row edition-info-item collapse arch-edition-register-occurences-collapse" id="archOccurrencesPlacesInWorks" data-parent="#arch-edition-register-occurences-Places">
              <ul style="list-style: none;">
              </ul>
            </div>
          </div>

        </div>
        <!--<div class="modal-footer"><button type="button" class="btn btn-primary" data-dismiss="modal">Close</button></div>-->
      </div>
    </div>
  </div>
  <div class="modal fade modal-register" id="modalRegisterWorks" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header row">
          <div class="col-md-1 arch-register-icon">
            <i class="fas fa-gem"/>
          </div>
          <div class="col-md-10">
            <h5 class="modal-title" id="regWorkTitle"/>
          </div>
          <div class="col-md-1">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <img src="templates/images/24px.svg"/>
            </button>
          </div>
        </div>
        <div class="modal-body">
          <div class="arch-edition-info-section">
            <div id="regWorkUnidentified" class="edition-info-item arch-edition-unidentified" style="display:none">
              <!--<div class="col-12 row justify-content-center">-->
              <div class="col-12">
                <!--<i class="fas fa-exclamation"/>-->
                <i>
                  <strong>
                    <span data-template="lang:translate" data-template-content="unidentifiedWork"/>
                  </strong>
                </i>
                <!--<i class="fas fa-exclamation"/>-->
              </div>
            </div>
            <strong>
              <span class="legend-title" data-template="lang:translate" data-template-content="generalInformation"/>
            </strong>
            <div class="row edition-info-item">
              <div class="col-12">
                <span data-template="lang:translate" data-template-content="registerType"/>
                <span id="regWorkType" class="text-muted"/>
              </div>
            </div>
            <div class="row edition-info-item">
              <div class="col-12">
                <span data-template="lang:translate" data-template-content="publicRegisterLink"/>
                <a id="regWorkIDNOLink" href="#" target="_blank">
                  <span id="regWorkIDNOType" class="text-muted"/>
                  <i class="fas fa-external-link-alt"/>
                </a>
              </div>
            </div>
            <div class="row edition-info-item">
              <div class="col-12">
                <span data-template="lang:translate" data-template-content="registerArtist"/>
                <span id="regWorkArtist" class="text-muted"/>
              </div>
            </div>
            <div class="row edition-info-item">
              <div class="col-12">
                <span data-template="lang:translate" data-template-content="registerDate"/>
                <span id="regWorkDate" class="text-muted"/>
              </div>
            </div>
            <div class="row edition-info-item">
              <div class="col-12">
                <span data-template="lang:translate" data-template-content="registerState"/>
                <span id="regWorkState" class="text-muted"/>
              </div>
            </div>
            <div class="row edition-info-item">
              <div class="col-12">
                <span data-template="lang:translate" data-template-content="registerLocationCurrent"/>
                <span id="regWorkLocationCurrent" class="text-muted"/>
              </div>
            </div>
            <div class="row edition-info-item">
              <div class="col-12">
                <span data-template="lang:translate" data-template-content="registerLocationFormer"/>
                <span id="regWorkLocationFormer" class="text-muted"/>
              </div>
            </div>
            <div class="row edition-info-item">
              <div class="col-12">
                <span data-template="lang:translate" data-template-content="registerMaterial"/>
                <span id="regWorkMaterial" class="text-muted"/>
              </div>
            </div>
            <div class="row edition-info-item">
              <div class="col-12">
                <span data-template="lang:translate" data-template-content="registerDimensions"/>
                <span id="regWorkDimensions" class="text-muted"/>
              </div>
            </div>
          </div>
          <div class="arch-edition-info-section">
            <strong>
              <span data-template="lang:translate" data-template-content="description"/>
            </strong>
            <div id="regWorkDescription">
              <p/>
            </div>
          </div>
          <div class="arch-edition-info-section arch-edition-register-occurences" id="arch-edition-register-occurences-works">
            <strong>
              <span data-template="lang:translate" data-template-content="occurences"/>
            </strong>
            <div class="row edition-info-item arch-edition-register-occurences" id="archOccurrencesWorksInTextWrapper">
              <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesWorksInText" href="#archOccurrencesWorksInText">
                <i class="fas fa-chevron-down"/>
                <i class="fas fa-chevron-up hide"/>
                <span data-template="lang:translate" data-template-content="inEncodedText"/>
                <span>(</span>
                <span id="modal-register-occurences-works-text"/>
                <span>)</span>
              </a>
            </div>
            <div class="edition-info-item collapse arch-edition-register-occurences-collapse arch-edition-register-occurences-collapse-main" id="archOccurrencesWorksInText" data-parent="#arch-edition-register-occurences-works">
              <div id="archOccurrencesWorksInTextPitzlerWrapper">
                <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesWorksInTextPitzler" href="#archOccurrencesWorksInTextPitzler">
                  <i class="fas fa-chevron-down"/>
                  <i class="fas fa-chevron-up hide"/>
                  <span>Pitzler</span>
                  <span>(</span>
                  <span id="modal-register-occurences-works-text-Pitzler"/>
                  <span>)</span>
                </a>
              </div>
              <div class="edition-info-item collapse arch-edition-register-occurences-collapse2" id="archOccurrencesWorksInTextPitzler" data-parent="#archOccurrencesWorksInText">
                <ul style="list-style: none;">
                </ul>
              </div>
              <div id="archOccurrencesWorksInTextHarrachWrapper">
                <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesWorksInTextHarrach" href="#archOccurrencesWorksInTextHarrach">
                  <i class="fas fa-chevron-down"/>
                  <i class="fas fa-chevron-up hide"/>
                  <span>Harrach</span>
                  <span>(</span>
                  <span id="modal-register-occurences-works-text-Harrach"/>
                  <span>)</span>
                </a>
              </div>
              <div class="edition-info-item collapse arch-edition-register-occurences-collapse2" id="archOccurrencesWorksInTextHarrach" data-parent="#archOccurrencesWorksInText">
                <ul style="list-style: none;">
                </ul>
              </div>
              <div id="archOccurrencesWorksInTextCorfeyWrapper">
                <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesWorksInTextCorfey" href="#archOccurrencesWorksInTextCorfey">
                  <i class="fas fa-chevron-down"/>
                  <i class="fas fa-chevron-up hide"/>
                  <span>Corfey</span>
                  <span>(</span>
                  <span id="modal-register-occurences-works-text-Corfey"/>
                  <span>)</span>
                </a>
              </div>
              <div class="row edition-info-item collapse arch-edition-register-occurences-collapse2" id="archOccurrencesWorksInTextCorfey" data-parent="#archOccurrencesWorksInText">
                <ul style="list-style: none;">
                </ul>
              </div>
              <div id="archOccurrencesWorksInTextKnesebeckWrapper">
                <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesWorksInTextKnesebeck" href="#archOccurrencesWorksInTextKnesebeck">
                  <i class="fas fa-chevron-down"/>
                  <i class="fas fa-chevron-up hide"/>
                  <span>Knesebeck</span>
                  <span>(</span>
                  <span id="modal-register-occurences-works-text-Knesebeck"/>
                  <span>)</span>
                </a>
              </div>
              <div class="row edition-info-item collapse arch-edition-register-occurences-collapse2" id="archOccurrencesWorksInTextKnesebeck" data-parent="#archOccurrencesWorksInText">
                <ul style="list-style: none;">
                </ul>
              </div>
              <div id="archOccurrencesWorksInTextSturmWrapper">
                <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesWorksInTextSturm" href="#archOccurrencesWorksInTextSturm">
                  <i class="fas fa-chevron-down"/>
                  <i class="fas fa-chevron-up hide"/>
                  <span>Sturm</span>
                  <span>(</span>
                  <span id="modal-register-occurences-works-text-Sturm"/>
                  <span>)</span>
                </a>
              </div>
              <div class="row edition-info-item collapse arch-edition-register-occurences-collapse2" id="archOccurrencesWorksInTextSturm" data-parent="#archOccurrencesWorksInText">
                <ul style="list-style: none;">
                </ul>
              </div>
              <div id="archOccurrencesWorksInTextNeumannWrapper">
                <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesWorksInTextNeumann" href="#archOccurrencesWorksInTextNeumann">
                  <i class="fas fa-chevron-down"/>
                  <i class="fas fa-chevron-up hide"/>
                  <span>Neumann</span>
                  <span>(</span>
                  <span id="modal-register-occurences-works-text-Neumann"/>
                  <span>)</span>
                </a>
              </div>
              <div class="row edition-info-item collapse arch-edition-register-occurences-collapse2" id="archOccurrencesWorksInTextNeumann" data-parent="#archOccurrencesWorksInText">
                <ul style="list-style: none;">
                </ul>
              </div>
            </div>
            <!-- There are no works in persons.xml
                      <div class="row edition-info-item arch-edition-register-occurences" id="archOccurrencesWorksInPersonsWrapper">
                        <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesWorksInPersons" href="#archOccurrencesWorksInPersons">
                          <i class="fas fa-chevron-down" />
                          <i class="fas fa-chevron-up hide" />
                          <span data-template="lang:translate" data-template-content="inEncodedPersons" />
                          <span>(</span>
                          <span id="modal-register-occurences-works-in-persons"></span>
                          <span>)</span>
                        </a>
                      </div>
                      <div class="row edition-info-item collapse arch-edition-register-occurences-collapse" id="archOccurrencesWorksInPersons" data-parent="#arch-edition-register-occurences-works">
                        <ul style="list-style: none;">
                        </ul>
                      </div>
                        -->
            <!-- There are no works in places.xml
                      <div class="row edition-info-item arch-edition-register-occurences" id="archOccurrencesWorksInPlacesWrapper">
                        <a class="btn" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="archOccurrencesWorksInPlaces" href="#archOccurrencesWorksInPlaces">
                          <i class="fas fa-chevron-down" />
                          <i class="fas fa-chevron-up hide" />
                          <span data-template="lang:translate" data-template-content="inEncodedPlaces" />
                          <span>(</span>
                          <span id="modal-register-occurences-works-in-places"></span>
                          <span>)</span>
                        </a>
                      </div>
                      <div class="row edition-info-item collapse arch-edition-register-occurences-collapse" id="archOccurrencesWorksInPlaces" data-parent="#arch-edition-register-occurences-works">
                        <ul style="list-style: none;">
                        </ul>
                      </div>
                      -->
          </div>

        </div>
      </div>
    </div>
  </div>

</div>