<div>
	<style>
		#modal-error .modal-header {
			background-color: #dc3545;
		}

		#modal-warning .modal-header {
			background-color: #ffe066;
		}

		#modal-warning svg {
			color: #fab005;
		}

		#modal-warning .modal-content {
			background-color: #fff9db;
		}

		#modal-warning .modal-header .icon-padding {
			padding-top: 8px;
			padding-bottom: 8px;
		}

		.modal-header h1 {
			font-family: 'Open Sans', sans-serif;
		}

		#modal-error .modal-header h1 {
			color: white;
		}

		#modal-warning .modal-header {
			padding-top: 0px;
			padding-bottom: 0px;
		}
		.modal-header {
			-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
			border-bottom:0;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
		}

		.modal-dialog {
			-webkit-border-radius: .125rem;
			border-radius: .125rem;
		}
		
		#modal-warning-message {
		    padding-top: 10px;
		    padding-bottom:2px;
		}
		
		.modal-footer {
		    padding:10px;
		}
		
		.modal-header svg {
		    font-size:2em;
		    margin-top: 7px !important;
		}
		.modal-header {
		    min-height: 3em;
		}
	</style>
	<div class="modal fade" id="modal-warning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<!--Content-->
			<div class="modal-content">
				<!--Header-->
				<div class="modal-header">
					<i class="fas fa-exclamation-triangle animated pulseOpacity infinite"/>
				</div>

				<!--Body-->
				<div class="modal-body">
					<div class="">
						<p id="modal-warning-message">Loading...</p>
					</div>
				</div>

				<!--Footer-->
				<div id="modal-warning-footer" class="modal-footer d-flex justify-content-end">
                    <button type="button" class="btn btn-warning btn-lg" data-dismiss="modal">OK, thanks</button>
				</div>
			</div>
			<!--/.Content-->
		</div>
	</div>
</div>