<ul class="d-flex flex-column flex-lg-row align-items-lg-end arch-main-nav" data-template="nav:navitems">
  <!-- config the output templates -->
  <!-- the output processing -->
    <li class="dropdown" data-template="templates:each" data-template-from="navitems" data-template-to="item">
        <a href="#" role="button" class="dropdown-toggle arch-ul arch-pink-ul-on-gray" data-toggle="dropdown" data-template="nav:head">
            <div class="caret float-right">
              <i class="fa fa-sort-up"/>
              <i class="fa fa-sort-down"/>
            </div>
        </a>
        <!--<span data-template="nav:subitemsNEW"/>
        <div class="dropdown-menu">
            <div data-template="nav:subitems">
                <a class="dropdown-item arch-ul" data-template="templates:each" data-template-from="subitems" data-template-to="subitem">
                    <span data-template="nav:subitem"/>
                </a>
            </div>
        </div>-->
        <div class="dropdown-menu">
            <div data-template="nav:subitems">
                <span data-template="nav:subitem" />
            </div>
        </div>
    </li>
</ul>
