<div data-template="templates:surround" data-template-with="templates/page_index.html" data-template-at="content-container">
    <div class="arch-content p-content">
        <h1>Matomo Opt-out</h1>
        <iframe frameborder="no" width="600px" height="200px" src="https://piwik.gwdg.de/index.php?module=CoreAdminHome&amp;action=optOut&amp;language=fr"></iframe>
    </div>
</div>