<div data-template="templates:surround" data-template-with="templates/page_index.html" data-template-at="content-container">
  <!-- initialize tooltips -->
  <script>
        /*$(function() {
              $('[data-toggle="tooltip"]').tooltip()
            })*/
    </script>
    <style>
        #nav-tabContent .arch-main span {
            display:inline;
        }
        #nav-tabContent .arch-edition-teaser a {
            display:inline;
        }
        #nav-tabContent .arch-edition-teaser span {
            display:inline;
        }
        #nav-tabContent .arch-edition-teaser .arch-author {
            margin-left: 32px;
        }
        #nav-tabContent .arch-edition-teaser h2 {
            margin-bottom: 5px;
        }
        #arch-synoptic {
            font-size: 1rem;
            line-height: 1.52941rem;
            display: inline;
            white-space: nowrap;
        }
        #arch-synoptic .arch-main span{
            margin-left: 20px;
        }
        #arch-synoptic #arch-synoptic-arrow {
            display: block;
            float: right;
            margin-top: 2px;
            margin-right: 0;
            width: auto;
        }
    #arch-download {
      margin-left: 24px;
    }
    #arch-download-de {
        display: flex !important;
    }
    #arch-download-de svg {
        margin-top: 4px;
        margin-right: 24px;
    }
    #arch-download-de span {
        margin-left: 0px;
    }
    
    #arch-download-fr {
        display: flex !important;
    }
    #arch-download-fr svg {
        margin-top: 4px;
        margin-right: 24px;
    }
    #arch-download-fr span {
        margin-left: 0px;
    }

    .nav-pills a:hover {
        background-color: #eeeeee;
    }
    </style>
  <div class="arch-content p-content" id="content">
    <div data-template="contentapi:content" data-template-id="64974535"/>
    <br/>
    <nav>
      <div class="nav nav-pills" id="nav-tab" role="tablist" style="display: none">
        <a class="nav-item nav-link active" id="nav-Pitzler-tab" data-toggle="tab" href="#nav-Pitzler" role="tab" aria-controls="nav-Pitzler" aria-selected="true" onclick="toEdition('Pitzler')">Pitzler</a>
        <a class="nav-item nav-link" id="nav-Harrach-tab" data-toggle="tab" href="#nav-Harrach" role="tab" aria-controls="nav-Harrach" aria-selected="false" onclick="toEdition('Harrach')">Harrach</a>
        <a class="nav-item nav-link" id="nav-Corfey-tab" data-toggle="tab" href="#nav-Corfey" role="tab" aria-controls="nav-Corfey" aria-selected="false" onclick="toEdition('Corfey')">Corfey</a>
        <a class="nav-item nav-link" id="nav-Knesebeck-tab" data-toggle="tab" href="#nav-Knesebeck" role="tab" aria-controls="nav-Knesebeck" aria-selected="false" onclick="toEdition('Knesebeck')">Knesebeck</a>
        <a class="nav-item nav-link" id="nav-Sturm-tab" data-toggle="tab" href="#nav-Sturm" role="tab" aria-controls="nav-Sturm" aria-selected="false" onclick="toEdition('Sturm')">Sturm</a>
        <a class="nav-item nav-link" id="nav-Neumann-tab" data-toggle="tab" href="#nav-Neumann" role="tab" aria-controls="nav-Neumann" aria-selected="false" onclick="toEdition('Neumann')">Neumann</a>
      </div>
    </nav>
    <br/>
    <div class="tab-content" id="nav-tabContent" style="display: none">
    <div class="row arch-edition-teaser">
          <div class="col-md-6 col-lg-4 mb-6">
            <div class="p-sm-breakout">
              <img id="edition-image" src=""/>


              <!--<img src="templates/images/project-item-1.png"/>-->
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-8">
            <h2 id="arch-edition-title">
                            Lorem ipsum dolor sit amet
                        </h2>
            <ul class="arch-icon-list">
              <li class="d-flex">
                <i class="fas fa-address-book fa-fw mt-1"/>
                <span id="arch-edition-author">lorem ipsum dolor sit amet</span>
              </li>
              <li class="d-flex">
                <i class="fas fa-address-card fa-fw mt-1"/>
                <span id="arch-edition-pages" class="arch-author">67 lorems</span>
              </li>
              <!--<li>
                <i class="fa fa-map-marker-alt"/>
                <a href="#">Lorem ipsum</a>
              </li>-->
            </ul>
          </div>
          <div class="col-lg-4">
            <div class="row">
              <div class="col-md-6 col-lg-12">
                <div class="arch-foldout bg-light">
                  <a id="arch-synoptic" class="" href="#" target="_blank">
                    <i id="arch-synoptic-arrow" class="fa arch-chevron fa-chevron-right"/>
                    <div class="arch-main">
                      <i class="fa fa-eye"/>
                      <span data-template="lang:translate" data-template-content="synopticView"/>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-lg-12">
                <div class="arch-foldout bg-light">
                  <a class="arch-toggle arch-show" href="#">
                    <i class="fa arch-chevron fa-chevron-down"/>
                    <i class="fa arch-chevron fa-chevron-up"/>
                    <div class="arch-main">
                      <i class="fas fa-download"/>
                      <span id="arch-download" data-template="lang:translate" data-template-content="downloadEdition"/>
                    </div>
                  </a>
                  <ul class="arch-items m-0 p-0 mt-5">
                    <li>
                      <a id="arch-download-de" href="" download="" target="_blank">
                        <i class="fas fa-code"/>
                        <span data-template="lang:translate" data-template-content="fullTextDE"/>
                      </a>
                    </li>
                    <li>
                      <a id="arch-download-fr" download="" href="#" target="_blank">
                        <i class="fas fa-code"/>
                        <span data-template="lang:translate" data-template-content="fullTextFR"/>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="tab-pane fade show active" id="nav-Pitzler" role="tabpanel" aria-labelledby="nav-Pitzler-tab">

        <div data-template="contentapi:content" data-template-id="58501505"/>
            </div>
      <div class="tab-pane fade" id="nav-Harrach" role="tabpanel" aria-labelledby="nav-Harrach-tab">
        <div data-template="contentapi:content" data-template-id="58501516"/>
            </div>
      <div class="tab-pane fade" id="nav-Corfey" role="tabpanel" aria-labelledby="nav-Corfey-tab">
        <div data-template="contentapi:content" data-template-id="58501522"/>
            </div>
      <div class="tab-pane fade" id="nav-Knesebeck" role="tabpanel" aria-labelledby="nav-Knesebeck-tab">
        <div data-template="contentapi:content" data-template-id="58501518"/>
            </div>
      <div class="tab-pane fade" id="nav-Sturm" role="tabpanel" aria-labelledby="nav-Sturm-tab">
        <div data-template="contentapi:content" data-template-id="58501520"/>
            </div>
      <div class="tab-pane fade" id="nav-Neumann" role="tabpanel" aria-labelledby="nav-Neumann-tab">
        <div data-template="contentapi:content" data-template-id="58501524"/>
            </div>
    </div>
  </div>
  <script type="text/javascript" src="templates/js/search.js"/>
  <script>
    <!-- Directly toggle tabs via href -->
    /*$(document).ready(function() {
      var hash = window.location.hash;
      console.log("toggle to tab: " + hash);
      $('#tabs a[href="' + hash + '"]').tab('show');
    });*/
    function getParameter(parameterName) {
            var result = null,
                tmp = [];
            location.search
                .substr(1)
                .split("&amp;")
                .forEach(function(item) {
                    tmp = item.split("=");
                    if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
                });
            return result;
        }
    
    // keeps bootstrap tab functionality and changes the uri fragment triggering
    // loadEditionInformation in the url change handler
    function toEdition(author) {
        console.log(author)
        const url = AtUrl.current()
        url.updateHashParams({'author': author})
        document.location.hash = url.formatHash()
    }
    
    // monitors url for hash changes, triggers metadata loading if necessary
    window.addEventListener('hashchange', event =&gt; {
        const author = AtUrl.current().hashParams()['author']
        loadEditionInformation(author)
    })
    
    // triggers correct metadata and tab loading on page load
    window.addEventListener('DOMContentLoaded', event =&gt; {
        const author = AtUrl.current().hashParams()['author'] || 'Pitzler'
        loadEditionInformation(author)
        jQuery(`#nav-${author}-tab`).tab('show')
        jQuery('#nav-tab, #nav-tabContent').show()
    })
    
    function loadEditionInformation(edition) {
        var lang=getParameter("lang");
        var editionID="";
        var editionTitle="";
        var editionTitleDE="";
        var editionTitleFR="";
        var editionAuthor="";
        var editionAuthorDE="";
        var editionAuthorFR="";
        var translationID="";
        var editionPages="";
        var editionPagesDE=" Seiten";
        var editionPagesFR=" pages";
        var editionImage="";
        var editionImageDE="";
        var editionImageFR="";
        var editionHref="";
        var dev="";
        var editionDownloadDE="";
        var editionDownloadFR="";
        switch (edition) {
            case 'Pitzler':
                editionID = "34znb";
                translationID="350mg";
                editionTitleDE = "Reisebeschreibung von Christoph Pitzler, 1685-1687";
                editionTitleFR = "Récit de voyage de Christoph Pitzler, 1685-1687";
                editionAuthorDE = "Christoph Pitzler"
                editionAuthorFR = "Christoph Pitzler"
                editionPages="142";
                editionImageDE="templates/images/PitzlerDE.png"
                editionImageFR="templates/images/PitzlerFR.png"
                editionDownloadDE="34znb.2";
                editionDownloadFR="350mg.3";
                break;
                case 'Harrach':
                    editionID = "34zmq";
                    translationID="3czfj";
                    editionTitleDE = "Tagebuch des Grafen Ferdinand Bonaventura I. von Harrach, 1697-1698";
                    editionTitleFR = "Journal du comte Ferdinand Bonaventure I de Harrach, 1697-1698";
                    editionAuthorDE = "Ferdinand Bonaventura I. von Harrach";
                    editionAuthorFR = "Ferdinand Bonaventure I, comte d'Harrach";
                    editionImageDE="templates/images/HarrachDE.png"
                editionImageFR="templates/images/HarrachFR.png"
                editionDownloadDE="34zmq.5";
                editionDownloadFR="3czfj.2";
                    editionPages="55";
                    break;
                case 'Neumann':
                    editionID = "3qr4f";
                    translationID="3r3nn";
                    editionTitleDE = "Briefe der Parisreise von Balthasar Neumann, 1723";
                    editionTitleFR = "Lettres du voyage à Paris de Balthasar Neumann, 1723";
                    editionAuthorDE = "Johann Balthasar Neumann";
                    editionAuthorFR = "Johann Balthasar Neumann";
                    editionImageDE="templates/images/NeumannDE.png"
                editionImageFR="templates/images/NeumannFR.png"
                editionDownloadDE="3qr4f.1";
                editionDownloadFR="3r3nn.1";
                    editionPages="103";
                    break;
                case 'Sturm':
                    editionID = "34zs7";
                    translationID="3q4rq";
                    editionTitleDE = "Reiseanmerkungen von Leonhard Christoph Sturm, 1719";
                    editionTitleFR = "Notes de voyage de Leonhard Christoph Sturm, 1719";
                    editionAuthorDE = "Leonhard Christoph Sturm";
                    editionAuthorFR = "Leonhard Christoph Sturm";
                    editionImageDE="templates/images/SturmDE.png"
                editionImageFR="templates/images/SturmFR.png"
                editionDownloadDE="34zs7.2";
                editionDownloadFR="3q4rq.2";
                    editionPages="148";
                    break;
                case 'Corfey':
                    editionID = "3ptwg";
                    translationID="3r0fv";
                    editionTitleDE = "Reisejournal von Lambert Friedrich Corfey, 1698-1699";
                    editionTitleFR = "Journal de voyage de Lambert Friedrich Corfey, 1698-1699";
                    editionAuthorDE = "Lambert Friedrich Corfey";
                    editionAuthorFR = "Lambert Friedrich Corfey";
                    editionImageDE="templates/images/CorfeyDE.png"
                editionImageFR="templates/images/CorfeyFR.png"
                editionDownloadDE="3ptwg.2";
                editionDownloadFR="3r0fv.1";
                    editionPages="190";
                    break;
                case 'Knesebeck':
                    editionID = "3c0m2";
                    translationID="3czn9";
                    editionTitleDE = "Reisebeschreibung von Christian Friedrich Gottlieb von dem Knesebeck, um 1711-1713";
                    editionTitleFR = "Récit de voyage de Christian Friedrich Gottlieb von dem Knesebeck, vers 1711-1713";
                    editionAuthorDE = "Christian Friedrich Gottlieb von dem Knesebeck";
                    editionAuthorFR = "Christian Friedrich Gottlieb von dem Knesebeck";
                    editionImageDE="templates/images/KnesebeckDE.png"
                editionImageFR="templates/images/KnesebeckFR.png"
                editionDownloadDE="3c0m2.3";
                editionDownloadFR="3czn9.4";
                    editionPages="181";
                    break;
        }
        if (lang == 'de') { editionTitle = editionTitleDE }
        else { editionTitle = editionTitleFR }
        document.getElementById("arch-edition-title").innerHTML=editionTitle;
        if (lang == 'de') { editionAuthor = editionAuthorDE }
        else { editionAuthor = editionAuthorFR }
        document.getElementById("arch-edition-author").innerHTML=editionAuthor;
        if (lang == 'de') { editionPages = editionPages + editionPagesDE }
        else { editionPages = editionPages + editionPagesFR }
        document.getElementById("arch-edition-pages").innerHTML=editionPages;
        if (lang == 'de') { editionImage = editionImageDE }
        else { editionImage = editionImageFR }
        document.getElementById('edition-image').src=editionImage;
        if (location.toString().includes('/dev')) {dev="/dev"}
        editionHref = dev+"/view.html?edition="+editionID+"&amp;translation="+translationID+"&amp;page=1"+"&amp;lang="+lang;
        document.getElementById('arch-synoptic').href=editionHref;
      //  editionDownloadDE = "https://textgridlab.org/1.0/tgcrud-public/rest/textgrid:"+editionDownloadDE+"/data";
      //  editionDownloadFR = "https://textgridlab.org/1.0/tgcrud-public/rest/textgrid:"+editionDownloadFR+"/data";
          var preLink = "/textgrid/data/";
            if (window.location.href.includes("dev")) {
                preLink = "/dev"+preLink;
            }
            var postLink = ".xml";
            var downloadLinkDE = preLink+editionID+postLink;
            var downloadLinkFR = preLink+translationID+postLink;
            var downloadTextPre = "ARCHITRAVE_Edition_";
            var downloadTextPost = ".xml";
        editionDownloadDE = downloadLinkDE;
        editionDownloadFR = downloadLinkFR;
        var downloadTextDE = downloadTextPre + edition + "_de" + downloadTextPost
            var downloadTextFR = downloadTextPre + edition + "_fr" + downloadTextPost
        document.getElementById('arch-download-de').href=editionDownloadDE;
        document.getElementById('arch-download-fr').href=editionDownloadFR;
        document.getElementById('arch-download-de').download=downloadTextDE;
        document.getElementById('arch-download-fr').download=downloadTextFR;
    }

  </script>
</div>