<div data-template="templates:surround" data-template-with="templates/page_index.html" data-template-at="content-container">
    <div class="arch-content p-content" id="content">
        <div data-template="contentapi:content" data-template-id="58499632"/>
        <br/>
        <br/>
        <div class="row justify-content-around">
            <div class="d-flex align-content-center flex-wrap justify-content-around">
                <a href="https://www.chateauversailles-recherche.fr/" target="_blank">
                    <img src="templates/images/logo_CRCV.jpg" class="architrave-funder-logo"/>
                </a>
            </div>
            <div class="d-flex align-content-center flex-wrap">
                <a href="https://dfk-paris.org" target="_blank">
                    <img src="templates/images/logo_dfk.svg" class="architrave-funder-logo-dfk"/>
                </a>
            </div>
            <div class="d-flex align-content-center flex-wrap justify-content-around">
                <a href="https://www.uni-marburg.de" target="_blank">
                    <img src="templates/images/logo_unimarburg.png" class="architrave-funder-logo"/>
                </a>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row justify-content-around">
            <div class="d-flex align-content-center flex-wrap">
                <a href="https://www.sub.uni-goettingen.de" target="_blank">
                    <img src="templates/images/logo_goettingen.png" class="architrave-funder-logo-goe"/>
                </a>
            </div>
        </div>
    </div>
</div>
