<div data-template="templates:surround" data-template-with="templates/page_index.html" data-template-at="content-container">
    <div class="arch-content p-content" id="content">
        <div data-template="contentapi:content" data-template-id="58501498"/>
        <br/>
        <br/>
        <br/>
        <div class="row justify-content-around">
            <div class="d-flex align-content-center flex-wrap justify-content-around">
                <img src="templates/images/dfg_logo_englisch_blau_en.jpg" class="architrave-funder-logo" />
            </div>
            <div class="d-flex align-content-center flex-wrap">
                <img src="templates/images/ANR07-HD-300dpi.jpg" class="architrave-funder-logo" />
            </div>
        </div>
    </div>
</div>
