<div data-template="templates:surround" data-template-with="templates/page_index.html" data-template-at="content-container">
    <link href="templates/css/publish.css" rel="stylesheet" type="text/css"/>
    <div class="arch-content p-content" id="content">
        <div class="panel panel-default" id="droptarget">
            <div>
                <h1 class="panel-title">Publish Objects to <span data-template="app:title" />
                </h1>
            </div>
            <div class="panel-body">
            <div>
                <table id="main" class="table table-condensed table-hover" style="">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Type</th>
                        <th>URI</th>
                        <th>Options</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4" style="text-align: center;font-size:100%;color:grey;">Use the content menu (right click) entry 'Publish to SADE' on a TextGrid object from within the Navigator to add items here.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            </div>
        </div>
        <div class="panel panel-default">
            <div>
                <button class="btn btn-block btn-lg btn-primary" onclick="publish()">
                    <i class="fas fa-upload" aria-hidden="true" /> Publish</button>
                <button class="btn btn-block btn-lg btn-default" onclick="reset()">
                    <i class="fas fa-ban" aria-hidden="true" /> Reset</button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="">
                <h1 id="publishStatus" class="panel-title">Status</h1>
            </div>
            <div class="panel-body" id="log">
                <ul />
            </div>
        </div>
    </div>
</div>
