<div data-template="templates:surround" data-template-with="templates/page_index.html" data-template-at="content-container">

  <style>
        .arch-list-view-content{
            width: 81.25vw;
            max-width: 1200px;
            margin: 0px auto;
            margin-top: 25px;
        }
  
        .arch-list-view-radio-slider{
          margin-top:25px;
        }

        .arch-list-view-ul{
            min-height: 38.5rem;
        }
        
        #register_ul_css > ul {  
            list-style: none; 
            /*width: 200px; */
            text-indent: -20px; /* key property */
            margin-left: 20px; /* key property */
        }
        
        #register_ul_css > ul > li { margin-bottom: 10px; }
        
        .btn-group > .btn:not(:first-child),
        .btn-group:not(:first-child) {
            margin-left: 0px; }

    /*
    .p-content {
      width: 81.25vw;
      max-width: 1200px;
      margin: 0px auto; }
      
      .arch-content {
        min-height: 40rem; }
      */
    
    #register-tabs .btn {
        cursor: pointer;
    }
  </style>

    <!-- error modal for error messages -->
    <div data-template="templates:surround" data-template-with="templates/modal_error.html" data-template-at="content-container"/>
    <!-- error modal for register entries -->
    <div data-template="templates:surround" data-template-with="templates/modal_register.html" data-template-at="content-container"/>

  
  
<div id="content-container">

    <div class="p-content" id="content">
      <h1 class="block-header">
        <span style="color: rgb(0,0,0);">
                    <span data-template="lang:translate" data-template-content="index"/>
                </span>
      </h1>
    </div>

  
  <div class="row arch-list-view-content p-content">
 
    <div class="col-md-6" id="register-tabs" style="display: none">
    
        <div class="arch-list-view-radio-slider">
              <div class="btn-toolbar btn-group-toggle btn-group" data-toggle="buttons">
                <label class="btn btn-primary">
                  <input type="radio" name="register_button" id="option1" value="persons" autocomplete="off"/>
                  <i class="fas fa-user"/>
                   
                  <span data-template="lang:translate" data-template-content="register_persons"/>
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="register_button" id="option2" value="places" autocomplete="off"/>
                  <i class="fas fa-map-marker-alt"/>
                   
                  <span data-template="lang:translate" data-template-content="register_places"/>
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="register_button" id="option3" value="works" autocomplete="off"/>
                  <i class="fas fa-gem"/>
                   
                  <span data-template="lang:translate" data-template-content="register_works"/>
                </label>
              </div>
        </div>

        <div class="arch-list-view-radio-slider">
            <div class="btn-toolbar btn-group-toggle btn-group" data-toggle="buttons">
                <label class="btn btn-primary">
                  <input type="radio" name="letter_button" value="AaÄä" autocomplete="off"/>
                  A
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="letter_button" value="Bb" autocomplete="off"/> 
                  B
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="letter_button" value="Cc" autocomplete="off"/>
                  C
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="letter_button" value="Dd" autocomplete="off"/>
                  D
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="letter_button" value="EeÉéÈè" autocomplete="off"/> 
                  E
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="letter_button" value="Ff" autocomplete="off"/>
                  F
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="letter_button" value="Gg" autocomplete="off"/>
                  G
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="letter_button" value="Hh" autocomplete="off"/> 
                  H
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="letter_button" value="IiÎî" autocomplete="off"/>
                  I
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="letter_button" value="Jj" autocomplete="off"/>
                  J
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="letter_button" value="Kk" autocomplete="off"/> 
                  K
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="letter_button" value="Ll" autocomplete="off"/>
                  L
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="letter_button" value="Mm" autocomplete="off"/> 
                  M
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="letter_button" value="Nn" autocomplete="off"/>
                  N
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="letter_button" value="OoÖö" autocomplete="off"/>
                  O
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="letter_button" value="Pp" autocomplete="off"/> 
                  P
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="letter_button" value="Qq" autocomplete="off"/>
                  Q
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="letter_button" value="Rr" autocomplete="off"/> 
                  R
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="letter_button" value="Ss" autocomplete="off"/>
                  S
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="letter_button" value="Tt" autocomplete="off"/>
                  T
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="letter_button" value="UuÜü" autocomplete="off"/> 
                  U
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="letter_button" value="Vv" autocomplete="off"/>
                  V
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="letter_button" value="Ww" autocomplete="off"/>
                  W
                </label>
                <label class="btn btn-primary">
                  <input type="radio" name="letter_button" value="XYZxyz" autocomplete="off"/>
                  XYZ
                </label>
                <!--
                <label class="btn btn-primary">
                  <input type="radio" name="letter_button" value="button_other" autocomplete="off"/>
                  <span data-template="lang:translate" data-template-content="button_other"/>
                </label>
                -->
                <label class="btn btn-primary">
                  <input type="radio" name="letter_button" value="button_unnamed" autocomplete="off"/>
                  <span data-template="lang:translate" data-template-content="button_unnamed"/>
                </label>
            </div>
        </div>
    </div>

    <div id="register_content" class="col-md-6 arch-list-view-ul"/>
    
  </div>
 
</div>

  <script type="text/javascript" src="templates/js/jquery.browser.min.js"/>
  <script type="text/javascript" src="templates/js/edition.js"/>
  <script type="text/javascript" src="templates/js/registers.js"/>
  <script type="text/javascript" src="templates/js/search.js"/>
  
  <script>
    function fixEscapes(selector) {
        const container = document.querySelector(selector)
        const elements = container.querySelectorAll('placeName, persName, name')
        for (const e of elements) {
            e.innerHTML = e.textContent
        }
    }
    
    function distinguishDuplicates(selector) {
        let tracker = {}
        
        const container = document.querySelector(selector)
        const elements = container.querySelectorAll('placeName, persName, name')
        for (const e of elements) {
            const text = e.textContent
            if (!tracker[text]) {
               tracker[text] = []
            }
            tracker[text].push(e)
        }
        
        for (const [text, elements] of Object.entries(tracker)) {
            if (elements.length > 1) {
                for (const e of elements) {
                    applyDistinctName(e)
                }
            }
        }
    }
    
    function applyDistinctName(element) {
        const link = element.parentElement
        const distinction = link.getAttribute('distinct-name')
        
        if (distinction != '') {
            const clean = distinction.
                replace(/^[^A-Za-z]/, '').
                replace(/[^A-Za-z]$/, '').
                replace(/ \([a-z]{3}:textgrid:[a-z0-9]{5}\)/, '')
            element.textContent = `${element.textContent} (${clean})`
        }
    }
    
    
    // page state handling
    
    // extract relevant parameters from the url with defaults
    function registerParams() {
        const url = AtUrl.current()
        const defaults = {register: 'persons', letter: 'AaÄä'}
        const params = url.hashParams()
        params['lang'] = url.params()['lang']
        
        const result = {...defaults, ...params}
        result['letter'] = decodeURIComponent(result['letter'])
        
        return result
    }
    
    // fetch the register data for the requested page and insert them into the
    // page
    function fetchRegisters() {
        const url = 'modules/architrave/transform_register.xq'
        const params = {
            button_parameter: registerParams()['register'],
            language_parameter: registerParams()['lang'],
            letter_value_parameter: registerParams()['letter'],
            letter_text_parameter: $("input[name='letter_button']:checked").parent()[0].innerText
        }
        
        $.post(url, params, (data, status) => {
          $( '#register_content' ).html(data)
          fixEscapes('#register_content')
          distinguishDuplicates('#register_content')  
        })
    }
    
    // sync url with radio button state, called on button click
    function updateUrl() {
        const params = {
            register: $("input[name='register_button']:checked").attr("value"),
            letter: $("input[name='letter_button']:checked").attr("value"),
        }
        const url = AtUrl.current()
        url.updateHashParams(params)
        document.location.hash = url.formatHash()
    }
    
    // sync radio button state with url params, called on page load
    function setRadios() {
        const {register, letter} = registerParams()
        
        let radio = document.querySelector(`input[name='register_button'][value='${register}']`)
        radio.checked = true
        radio.parentElement.classList.add('active')
        
        radio = document.querySelector(`input[name='letter_button'][value='${letter}']`)
        radio.checked = true
        radio.parentElement.classList.add('active')
    }
    
    window.addEventListener('hashchange', fetchRegisters)
    $("input[type='radio']").change(updateUrl)
    
    setRadios()
    fetchRegisters()
    recreateModals()

    // only show the register controls when everything is set up to prevent
    // "jumping" elements
    $('#register-tabs').show()
  </script>
</div>