<div data-template="templates:surround" data-template-with="templates/page_index.html" data-template-at="content-container">

  <div class="content-container">
    <div data-template="templates:surround" data-template-with="templates/modal_register.html" data-template-at="content-container"/>
    <div class="arch-content p-content">
      <div class="row">
        <div class="col-12">
          <h1>
            <span data-template="lang:translate" data-template-content="Search"/>
          </h1>
        </div>
        <div class="col-12">
          <div class="arch-search-form"/>
        </div>
        <div class="col-12">
          <hr class="mb-5"/>
          <div class="arch-search-results"/>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="templates/js/edition.js"/>
  <script type="text/javascript" src="templates/js/registers.js"/>
  <script type="text/javascript" src="templates/js/search.js"/>
  <!-- script type="text/javascript" src="http://localhost:4000/app.js"/ -->
  <script type="text/javascript">
    // we need to hook into the result rendering process to fix #248
    window.searchBus.addEventListener('results_rendered', event => {
      const links = document.querySelectorAll('a.arch-search-result')
      for (const link of [...links]) {
          const href = link.getAttribute('href')
          const lang = href.match(/lang=(de|fr)/)[0]
          //console.log(link, href)

          if (href.match(/id=58499672/)) {
              link.setAttribute('href', `guidelines.html?${lang}`)
          }
      }
    })
  </script>
  
  <script>
    recreateModals()
  </script>
</div>