<div data-template="templates:surround" data-template-with="templates/page_index.html" data-template-at="content-container">
    <div class="arch-content p-content" id="content">
        <h1 data-template="lang:translate" data-template-content="Timeline"/>
        <!-- German Timeline -->
        <div id="timelineGerman">
            <iframe src="https://timemapper.okfnlabs.org/anon/z6chsh-architrave-timeliner-de?embed=1" frameborder="0" style="border: none;" width="100%" height="780;"></iframe>
        </div>
        <!-- French Timeline -->
        <div id="timelineFrench">
            <iframe src="https://timemapper.okfnlabs.org/anon/1qmonh-architrave-timeliner-fr?embed=1" frameborder="0" style="border: none;" width="100%" height="780;"></iframe>
        </div>
    </div>
    <script>
        /* general function to get getParameters out of URL */
        function getParameter(parameterName) {
        	var result = null,
        		tmp = [];
        	location.search
        		.substr(1)
        		.split("&amp;")
        		.forEach(function(item) {
        			tmp = item.split("=");
        			if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
        		});
        	return result;
        }
        function getTimeline() {
    		var lang = getParameter("lang");
    		if (lang == "de") {
    		    document.getElementById("timelineFrench").style.display = "none";
    		}
    		else {
    		    document.getElementById("timelineGerman").style.display = "none";
    		}
        }
        getTimeline();
    </script>
</div>
